{% extends 'base.html' %}
{# Note: This is not l10n-ized since it's only available to admin. #}

{% block site_css %}
  {% stylesheet 'monitor' %}
{% endblock %}

{% block page_title %}Input Services Monitor{% endblock %}

{% macro status(b) %}
  {% if b %}info{% else %}error{% endif %}
{% endmacro %}

{% block content %}
  <div class="col">
  </div>
  <div class="col wide">
    <div class="block monitor">
      <h1>Input Services Monitor</h1>
      <p>
        List of components that Input uses and whether they are functioning
        correctly.
      </p>

      {% for component, output in component_status|dictsort %}
        <div class="notification-box {{ status(status_summary[component]) }}">
          <h2>{{ component }}</h2>
          <ul>
            {% for kind, text in output %}
              <li>{{ kind }}: {{ text }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block outer_side %}{% endblock %}
