/* OVERRIDE generic feedback styles */

body {
  font-family: sans-serif;
  font-size: 12px;
  color: #222;
  background-color: #f5f5f5;
  margin: 0px;
}

.main {
  padding: 0px;
}

.content {
  padding: 25px;
}

section {
  margin: 0px;
}

h1 {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  margin-top: 0px;
}

a {
  color: #0092db;
  &:hover {
    text-decoration: none;
  }
}

textarea {
  height: 35vh;
}

/* COMMON FxA styles */
.message {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.message-box, .link-box {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #ebebf0;
}

.link-box {
  text-align: center;
}

.link-box:active, .link-box-bottom:active {
  background-color: #a7b0b8;
}

@media screen and (min-width: 500px) {
  .message-box, .message {
    text-align: center;
  }
}


/* HAPPY styles */

.stars {
  text-align: center;
  display: block;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
  svg {
    width: 125px;
    height: 25px;
    margin: 10px auto;
    display: block;
  }
}

.footer.happy {
  text-align: center;
  width: 100%;
  a {
    margin: 0px 25px;
    text-decoration: underline;
  }
}

@media not screen and (max-height: 400px) {
  .footer.happy {
    position: absolute;
    left: 0px;
    bottom: 40px;
  }
}


/* SAD styles */

.input-box {
  padding: 10px 0px;
}

#description-counter {
  color: #0092db;
}

.privacy {
  color: #bebebe;
  margin-top: 10px;
  text-align: center;
}

.btn.submit {
  background: #8698a8;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  border-width: 0px;
  color: #fff;
  margin: 0px auto;
}

.footer.sad {
  display: none;
  background-color: #ebe9f0;
  border-top: 2px solid #d4d3d8;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0px auto;
  padding: 15px 0px;
}

.footer.sad.show {
  display: block;
}

.help-section {
  max-width: 500px;
  padding: 5px;
  overflow: hidden;
  font-size: 16px;
  svg {
    float: left;
    margin-right: 20px;
    width: 31px;
    height: 31px;
  }
}

@media screen and (max-height: 450px) {
  .footer.sad {
    position: relative;
  }
}

@media screen and (min-width: 500px) {
  .help-section {
    margin: auto;
  }
}

/* THANKS styles */

.heart {
  svg {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
  }
}
