{% extends "analytics/dashboard.html" %}

{# We don't need the dashboard js files for this. #}
{% block site_js %}
  <script type="text/javascript" src="https://login.persona.org/include.js"></script>
{% endblock %}

{% block content_leftside %}{% endblock %}

{% block content_middle %}
<div class="block feedback">
<h2>{{ _('Dashboard unavailable') }}</h2>
<p>
  {{ _('Dashboard is currently unavailable. Please try again in 10 minutes.') }}
</p>
</div>
{% endblock %}

{% block content_rightside %}{% endblock %}
