settings_local.py
settings/local.py
*/settings/local.py
*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
*~
*.mo
/man/
/lib/
/include/
/static/
/node_modules/
/locale/
*.less.css
james.ini
/smoketests/results
/smoketests/.cache
.vagrant/
vagrantconfig_local.yaml
