fjord/settings/local.py
*.py[co]
*.sw[po]
.cache
.coverage
.cache
pip-log.txt
build.py
build
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
tmp/*
*~
*.mo
/man/
/lib/
/include/
/static/
/node_modules/
/locale/
*.less.css
james.ini
/smoketests/results
/smoketests/.cache
.vagrant/
vagrantconfig_local.yaml
