[submodule "vendor/src/dennis"]
	path = vendor/src/dennis
	url = https://github.com/willkg/dennis.git
[submodule "vendor/src/django-adminplus"]
	path = vendor/src/django-adminplus
	url = https://github.com/jsocol/django-adminplus.git
[submodule "vendor/src/django-browserid"]
	path = vendor/src/django-browserid
	url = https://github.com/mozilla/django-browserid.git
[submodule "vendor/src/django-cache-machine"]
	path = vendor/src/django-cache-machine
	url = https://github.com/jbalogh/django-cache-machine.git
[submodule "vendor/src/django-eadred"]
	path = vendor/src/django-eadred
	url = https://github.com/willkg/django-eadred.git
[submodule "vendor/src/django-ratelimit"]
	path = vendor/src/django-ratelimit
	url = https://github.com/jsocol/django-ratelimit
[submodule "vendor/src/django-rest-framework"]
	path = vendor/src/django-rest-framework
	url = https://github.com/tomchristie/django-rest-framework.git
[submodule "vendor/src/django-statsd"]
	path = vendor/src/django-statsd
	url = https://github.com/andymckay/django-statsd.git
[submodule "vendor/src/elasticutils"]
	path = vendor/src/elasticutils
	url = https://github.com/mozilla/elasticutils.git
[submodule "vendor/src/pystatsd"]
	path = vendor/src/pystatsd
	url = https://github.com/jsocol/pystatsd.git
[submodule "vendor/src/django"]
	path = vendor/src/django
	url = https://github.com/django/django
[submodule "vendor/src/bleach"]
	path = vendor/src/bleach
	url = git://github.com/jsocol/bleach.git
[submodule "vendor/src/commonware"]
	path = vendor/src/commonware
	url = git://github.com/jsocol/commonware.git
[submodule "vendor/src/django-appconf"]
	path = vendor/src/django-appconf
	url = git://github.com/jezdez/django-appconf.git
[submodule "vendor/src/django-cronjobs"]
	path = vendor/src/django-cronjobs
	url = git://github.com/jsocol/django-cronjobs.git
[submodule "vendor/src/django-mobility"]
	path = vendor/src/django-mobility
	url = git://github.com/jbalogh/django-mobility.git
[submodule "vendor/src/django-multidb-router"]
	path = vendor/src/django-multidb-router
	url = git://github.com/jbalogh/django-multidb-router.git
[submodule "vendor/src/django-nose"]
	path = vendor/src/django-nose
	url = git://github.com/jbalogh/django-nose.git
[submodule "vendor/src/django-session-csrf"]
	path = vendor/src/django-session-csrf
	url = git://github.com/mozilla/django-session-csrf.git
[submodule "vendor/src/django-sha2"]
	path = vendor/src/django-sha2
	url = git://github.com/fwenzel/django-sha2.git
[submodule "vendor/src/jingo"]
	path = vendor/src/jingo
	url = git://github.com/jbalogh/jingo.git
[submodule "vendor/src/jingo-minify"]
	path = vendor/src/jingo-minify
	url = git://github.com/jsocol/jingo-minify.git
[submodule "vendor/src/nuggets"]
	path = vendor/src/nuggets
	url = git://github.com/mozilla/nuggets.git
[submodule "vendor/src/tower"]
	path = vendor/src/tower
	url = git://github.com/clouserw/tower.git
[submodule "vendor/src/django_compressor"]
	path = vendor/src/django_compressor
	url = https://github.com/jezdez/django_compressor.git
[submodule "vendor/src/kombu"]
	path = vendor/src/kombu
	url = git://github.com/celery/kombu.git
[submodule "vendor/src/django-celery"]
	path = vendor/src/django-celery
	url = git://github.com/celery/django-celery.git
[submodule "vendor/src/celery"]
	path = vendor/src/celery
	url = git://github.com/celery/celery.git
[submodule "vendor/src/billiard"]
	path = vendor/src/billiard
	url = git://github.com/celery/billiard
[submodule "vendor/src/django-extensions"]
	path = vendor/src/django-extensions
	url = https://github.com/django-extensions/django-extensions.git
[submodule "vendor/src/elasticsearch-py"]
	path = vendor/src/elasticsearch-py
	url = https://github.com/elasticsearch/elasticsearch-py.git
[submodule "vendor/src/django-grappelli"]
	path = vendor/src/django-grappelli
	url = https://github.com/sehmaschine/django-grappelli
[submodule "vendor/src/gengo-python"]
	path = vendor/src/gengo-python
	url = https://github.com/gengo/gengo-python.git
[submodule "vendor/src/factory_boy"]
	path = vendor/src/factory_boy
	url = https://github.com/rbarrois/factory_boy.git
[submodule "vendor/src/django-waffle"]
	path = vendor/src/django-waffle
	url = https://github.com/jsocol/django-waffle.git
[submodule "vendor/src/django-product-details"]
	path = vendor/src/django-product-details
	url = https://github.com/mozilla/django-product-details.git
[submodule "vendor/src/django-sslserver"]
	path = vendor/src/django-sslserver
	url = https://github.com/teddziuba/django-sslserver.git
