{% extends "base.html" %}

{% block page_title %}{{ _('Login Failure') }}{% endblock %}

{% block content %}
  <div class="col"></div>
  <div class="col wide">
    <div class="block">
      <h1>{{ _('Login Failure') }}</h1>
      <p>
        {% trans %}
          Either you don't have an account here or you used the wrong
          Persona account to log in.
        {% endtrans %}
      </p>
      <p>
        <a href="/">{{ _('Return to the dashboard.') }}</a>
      </p>
    </div>
  </div>
{% endblock %}
