{% extends "base.html" %}

{% block extra_headers %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
{% endblock %}

{% block site_js %}
  {% javascript 'android_feedback' %}
{% endblock %}

{% block site_css %}
  {% stylesheet 'android-feedback' %}
{% endblock %}

{# L10N note: In order to reduce the work required by translators
 # to launch the initial port of this form, we copied localized
 # strings directly from Fennec (see bug 1235419). We can/should
 # fix strings after launch.
 #}
{% block page_title %}{{ _('Firefox Feedback') }}{% endblock %}

{% set extra_body_attrs =
  {
    'data-form-name': 'android',
    'data-version': version,
    'data-channel': channel
  }
%}

{% block body_id %}android{% endblock %}

{% block body %}
  <div class="main">
    {% block content %}
        <div class="content">

          <div class="deck">
            <div class="card no-back" id="intro">
              <section>

                <h1>
                  {% trans %}
                    Have a minute?
                  {% endtrans %}
                </h1>
                <div class="message">
                  {% trans product=product.display_name %}
                    Tell us what you think about {{product}} so far.
                  {% endtrans %}
                </div>

                <noscript>
                  <p class="error">
                    {% trans %}
                      JavaScript is required to leave feedback. Please enable JavaScript in your browser and refresh this page.
                    {% endtrans %}
                  </p>
                </noscript>

                <div id="happy-button-android" class="link-box sentiment-button" tabindex=0>
                  <a>
                    {% trans %}
                      I love it
                    {% endtrans %}
                  </a>
                </div>{# #happy-button-android #}

                <div id="sad-button" class="link-box sentiment-button" tabindex=0>
                  <a>
                    {% trans %}
                      I ran into some problems
                    {% endtrans %}
                  </a>
                </div>{# #sad-button #}

              </section>
              <div class="bottom-links">
                <a class="maybe-later" data-event="FeedbackMaybeLater" href="#">
                  {% trans %}
                    Maybe later
                  {% endtrans %}
                </a>
                <a class="no-thanks" data-event="FeedbackClose" href="#">
                  {% trans %}
                    No thanks
                  {% endtrans %}
                </a>
              </div>{# .bottom-links #}
            </div>{# #intro.card #}

            <div class="card inactive" id="moreinfo" data-focus="#description" data-back-id="intro">
              <section>
                <div class="happy">
                  <h1>
                    {% trans %}
                      That's great to hear!
                    {% endtrans %}
                  </h1>

                  <div class="message-box play-store-cta">
                    <div class="message">
                      {% trans %}
                        Want to share the love by giving us a 5 star rating on
                        Google Play?
                      {% endtrans %}
                    </div>{# .message #}
                    <div>
                      {% trans %}
                        It takes less than a minute and feels great.
                      {% endtrans %}
                    </div>
                    <a class="stars" id="play-store" data-event="FeedbackOpenPlay" href="#">
                      <svg>
                        <defs>
                          <symbol viewBox="0 0 100 100" id="star">
                            <polygon points="48 75 18.6107374 90.4508497 24.2235871 57.7254249 0.447174185 34.5491503 33.3053687 29.7745751 48 0 62.6946313 29.7745751 95.5528258 34.5491503 71.7764129 57.7254249 77.3892626 90.4508497" class="star" xmlns="http://www.w3.org/2000/svg" fill="#0092db"></polygon>
                          </symbol>
                        </defs>
                        <use width="25" height="25" xlink:href="#star" x="0" y="0"></use>
                        <use width="25" height="25" xlink:href="#star" x="25" y="0"></use>
                        <use width="25" height="25" xlink:href="#star" x="50" y="0"></use>
                        <use width="25" height="25" xlink:href="#star" x="75" y="0"></use>
                        <use width="25" height="25" xlink:href="#star" x="100" y="0"></use>
                      </svg>
                      {% trans %}
                        Yes, go to Google Play
                      {% endtrans %}
                    </a>
                  </div>{# .message-box #}
                  <div class="bottom-links play-store-cta">
                    <a class="maybe-later" data-event="FeedbackMaybeLater" href="#">
                      {% trans %}
                        Maybe later
                      {% endtrans %}
                    </a>
                    <a class="no-thanks" data-event="FeedbackClose" href="#">
                      {% trans %}
                        No thanks
                      {% endtrans %}
                    </a>
                  </div>{# .bottom-links #}
                </div>{# .happy #}

                <div class="sad">
                  <h1>
                    {% trans %}
                      Oh no!
                    {% endtrans %}
                  </h1>

                  <div class="ask">
                    <form id="responseform" action="" method="post">
                      <div class="input-box">
                        <label for="description">
                          {% trans %}
                            We're sorry that you had some problems with Firefox.
                            Please tell us what happened so that we can fix it.
                          {% endtrans %}
                        </label>
                        <div id="description-counter">{{ TRUNCATE_LENGTH }}</div>
                        <textarea data-max-length="{{ TRUNCATE_LENGTH }}" id="description" name="description" placeholder="{{ _('Enter your feedback here') }}"></textarea>
                      </div>{# .input-box #}

                      <div class="input-box">
                        <label for="id_url">
                          {% trans %}
                            Last visited site (optional)
                          {% endtrans %}
                          <input class="url" id="id_url" name="url" placeholder="http://" type="text">
                        </label>
                      </div>{# .input-box #}

                      {% for hidden in form.hidden_fields() %}
                        {{ hidden }}
                      {% endfor %}
                      {% csrf_token %}

                      <div class="input-box">
                        <input type="submit" value="{{ _('Send Feedback') }}" id="form-submit-btn" class="complete btn submit" disabled="disabled">
                        </input>
                      </div>{# .input-box #}

                      <div class="privacy">
                        {% trans %}
                          For your privacy, please do not include any personal information
                          in your feedback.
                        {% endtrans %}
                      </div>{# .privacy #}
                    </form>
                  </div>{# .ask #}
                  <footer>
                    <div class="help-section">
                      {% trans support_url="https://support.mozilla.org/products/mobile/popular-articles-android?as=u&utm_source=inproduct" %}
                        Visit our <a href="{{support_url}}">Support Site</a> to get answers for common issues.
                        {% endtrans %}
                    </div>{# .help-section #}
                  </footer>
                </div>{# .sad #}
              </section>
            </div>{# #moreinfo.card #}
          </div>{# .deck #}
        </div>{# .content #}

    {% endblock %}
  </div>
{% endblock %}
