{% extends "base.html" %}

{% block site_js %}
  {% javascript 'feedback' %}
{% endblock %}

{# Remove site header. #}
{% block site_header %}{% endblock %}

{% block page_title %}{{ _('Download Firefox') }}{% endblock %}

{% block content %}

<article id="thanks" class="visible">
  <header>
    <h1>{{ _('Please Download Firefox') }}</h1>
  </header>

  <div class="content">
    <p>
      {% trans %}
      Oh! So, you want to offer us feedback on Firefox. Thank you, but you'll need
      to be on the latest version.
      {% endtrans %}
    </p>
    <p>
      {% trans url=('http://www.mozilla.org/') %}
      To do that, simply go to our download page and install/update to the
      <a href="{{ url }}">latest version of Firefox!</a>
      {% endtrans %}
    </p>
  </div>

  <span class="fade"></span>
</article>

{% endblock %}
