{% extends "feedback/base.html" %}

{% block site_js %}
  {% javascript 'generic_feedback' %}
{% endblock %}

{% block page_title %}{{ _('Submit Your Feedback') }}{% endblock %}

{% set extra_body_attrs = {'data-form-name': 'generic'} %}

{% block content %}
  <form id="responseform" action="" method="post">
    <div class="content">
      <header>
        <div class="header-content">
          <div class="left-side">
            <div id="back-button-container" tabindex=0>
              <svg id="back-button" viewBox="0 0 55 100">
                <g>
                  <path d="M 45 13 L 0 50 L 45 87" stroke-width="7" fill="none"/>
                </g>
              </svg>
            </div>
          </div>
          <div class="middle">
            <h1>&nbsp;</h1>
          </div>
        </div>
      </header>

      <div class="deck">
        <div class="card no-back" id="intro" data-title="{{ _('{product} feedback')|fe(product=product.display_name) }}">
          <section>
            <div class="ask-large">
              <noscript>
                <p class="error">
                  {% trans %}
                    JavaScript is required to leave feedback. Please enable JavaScript in your browser and refresh this page.
                  {% endtrans %}
                </p>
              </noscript>

              {% trans product=product.display_name %}
                How does {{product}} make you feel?
              {% endtrans %}
            </div>

            <div id="sentiment">
              <div id="happy-button" class="sentiment-button" tabindex=0>
                <svg class="face happy-face" viewBox="0 0 100 100">
                  <g>
                    <!-- 100 by 100 -->
                    <circle cx="50" cy="50" r="43" stroke-width="7" fill="none"/>
                    <circle cx="33" cy="37" r="7" stroke-width="0" />
                    <circle cx="67" cy="37" r="7" stroke-width="0" />
                    <path d="M22 58 C 35 85, 65 85, 78 58" stroke-width="6" fill="none"/>
                  </g>
                </svg>
                <div class="face-description happy-description">
                  {% trans product=product.display_name %}
                    {{product}} makes me happy
                  {% endtrans %}
                </div>
              </div>

              <div id="sad-button" class="sentiment-button" tabindex=0>
                <svg class="face sad-face" viewBox="0 0 100 100">
                  <g>
                    <!-- 100 by 100 -->
                    <circle cx="50" cy="50" r="43" stroke-width="7" fill="none"/>
                    <circle cx="33" cy="37" r="7" stroke-width="0" />
                    <circle cx="67" cy="37" r="7" stroke-width="0" />
                    <path d="M24 72 C 35 55, 65 55, 76 72" stroke-width="6" fill="none"/>
                  </g>
                </svg>
                <div class="face-description sad-description">
                  {% trans product=product.display_name %}
                    {{product}} makes me sad
                  {% endtrans %}
                </div>
              </div>
            </div>

            <aside>
              <div id="back-to-picker">
                {% trans product=product.display_name, url=url('picker') + '?' + request.GET.urlencode() %}
                  Is {{product}} not the product you want to give feedback on?<br />
                  <a href="{{url}}">Pick a different product</a>.
                {% endtrans %}
              </div>
            </aside>
          </section>
        </div>

        <div class="card inactive" id="moreinfo" data-focus="#description" data-title="{{ _('Details') }}" data-back-id="intro">
          <section>
            <div class="ask">
              {% if collect_browser_data %}
                <p id="browser-ask-description">
                  {% trans %}
                    To help us understand your input, we need more information. By
                    hitting submit below, you will provide us with technical
                    information about your browser, along with any feedback you
                    provide on this page.
                  {% endtrans %}
                </p>
              {% endif %}
              <label for="description">
                <span class="happy">
                  {% trans %}
                    Please describe what you like.
                    The content of your feedback will be public, so please be
                    sure not to include personal information such as email
                    address, passwords or phone number.
                  {% endtrans %}
                </span>
                <span class="sad">
                  {% trans %}
                    Please describe your problem below and be as specific as
                    you can.
                    The content of your feedback will be public, so please be
                    sure not to include personal information such as email
                    address, passwords or phone number.
                  {% endtrans %}
                </span>
              </label>
            </div>
            <div class="input-box">
              <div id="description-counter">{{ TRUNCATE_LENGTH }}</div>
              <textarea data-max-length="{{ TRUNCATE_LENGTH }}" id="description" name="description"></textarea>
            </div>

            <div class="ask">
              <label for="id_url">
                {% trans %}
                  If your feedback is related to a website, you can include it here:
                {% endtrans %}
              </label>
            </div>

            <div class="input-box">
              <input class="url" id="id_url" name="url" placeholder="http://" type="text">
            </div>

            {% if collect_browser_data %}
              <div id="browser-ask" class="private">
                <div class="ask">
                  <input id="browser-ok" name="browser_ok" type="checkbox" checked>
                  <label class="browser-ok" for="browser-ok">
                    {% trans technical_url='https://support.mozilla.org/kb/use-troubleshooting-information-page-fix-firefox',
                             privacy_url='http://www.mozilla.org/privacy/websites' %}
                      Check here to provide
                      <a href="{{ technical_url }}">technical information</a> about
                      your browser, such as basic information about your computer,
                      your version of Firefox, and the extensions you have installed.
                      This information helps us better understand our users and
                      create better products. This information will be kept in
                      accordance with our
                      <a href="{{ privacy_url }}">Privacy policy</a>.
                    {% endtrans %}
                  </label>
                  <input id="browser-data" name="browser_data" type="hidden" value="{}" />
                </div>
              </div>
            {% endif %}

            <div class="private">
              <div class="ask">
                <input id="email-ok" name="email_ok" type="checkbox">
                <label class="email-ok" for="email-ok">
                  {% trans %}
                    (Optional) Check here to let us contact you to follow
                    up on your feedback. Your email address will be kept
                    private.
                  {% endtrans %}
                </label>
              </div>

              <div id="email-details" class="input-box">
                <input id="id_email" name="email" type="text" placeholder="username@example.com" disabled/>
              </div>
            </div>
            <div class="input-box">
              <button id="form-submit-btn" class="complete btn submit" disabled>
                {{ _('Submit') }}
              </button>
            </div>
          </section>
        </div>
      </div>
    </div>
    {% for hidden in form.hidden_fields() %}
      {{ hidden }}
    {% endfor %}
    {% csrf_token %}
  </form>
{% endblock %}
