<h2>{{ _('Hello!') }}</h2>
<p>
  {% trans %}
    Firefox Input is Mozilla's primary feedback mechanism. It is
    set up to be a method of one-way communication about your
    experiences in using Firefox, the Internet you view it
    through, and what Mozilla can do to make that experience
    better. The system is available over a wide-variety of
    submission mechanisms over all three major channels of
    builds.
  {% endtrans %}
</p>
<p>
  {% trans url='https://input.mozilla.org/feedback' %}
    To submit feedback for your version of Firefox, please go to
    <a href="{{ url }}">the feedback submission page</a>!
  {% endtrans %}
</p>

<h2>{{ _('Open Data') }}</h2>
<p>
  {% trans %}
    We'd love to experiment more with this data, but we're only a
    few people. So, we need requests from you on questions you'd
    like to see answered! If you would like to experiment with our
    data, please contact us!
  {% endtrans %}
</p>

<h2>{{ _('Source Code') }}</h2>
<p>
  {% trans url='https://github.com/mozilla/fjord' %}
    The code for the Firefox Input web application can be
    <a href="{{ url }}">found on GitHub</a>!
  {% endtrans %}
</p>
