{% extends "admin/base_site.html" %}
{% block content_title %}
  <h1>Gengo - Maintenance</h1>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    section {
      margin: 1em 0em 1em 0em;
    }
    div#content div {
      margin-bottom: .5em;
    }
  </style>
{% endblock %}

{% block content %}
  {% if configured %}
    <section>
      <h1>Account balance</h1>
      <table>
        <tr><th>Balance</th><td>{{ balance }}</td></tr>
      </table>
    </section>
  {% else %}
    <section>
      <p class="errornote">
        Gengo is not configured properly.
      </p>
    </section>
  {% endif %}

  <section>
    <h1>Products</h1>
    <h2>Automated Gengo machine translations</h2>
    <table>
      <tr><th>Product name</th><td>Actions</td></tr>
      {% for prod in gengo_machiners %}
        <tr><th>{{ prod.display_name }}</th><td><a href="{% url 'admin:feedback_product_change' prod.id %}">Change</a></td></tr>
      {% endfor %}
    </table>
  </section>
  <section>
    <h1>Configuration</h1>
    <table>
      <tr><th>GENGO_PUBLIC_KEY</th><td>{{ settings.GENGO_PUBLIC_KEY }}</td></tr>
      <tr><th>GENGO_PRIVATE_KEY</th><td>{{ settings.GENGO_PRIVATE_KEY }}</td></tr>
    </table>
  </section>
  {% if configured %}
    <section>
      <h1>Supported languages</h1>
      <table>
        <tr><th>Gengo language code (lc)</th><th>Gengo language</th><th>related prod locale</th></tr>
        {% for lang in gengo_languages %}
          <tr><td>{{ lang.0 }}</td><td>{{ lang.1 }}</td><td>{{ lang.2 }}</td></tr>
        {% endfor %}
      </table>
    </section>

    <section>
      <h1>Fjord locales that probably have no Gengo supported language</h1>
      <table>
        <tr><th>Locale</th></tr>
        {% for locale in missing_prod_locales %}
          <tr><td>{{ locale }}</td></tr>
        {% endfor %}
      </table>
    </section>
  {% endif %}
{% endblock %}
