{% extends "analytics/analytics_dashboard.html" %}
{# Note: This is not l10n-ized since it's only available to analyzers for now. #}

{% block content_middle %}
  <div class="col full">
    <div class="block feedback">
      <h2>Analytics: Occurrence Comparison Report</h2>
      <p>
        Report rendered on {{ render_time|datetime('%a %b %d %Y at %H:%M:%S') }}
      </p>

      <form id="occurrence-form" method="GET" action="{{ url('analytics_occurrences_comparison') }}">
        {{ form.non_field_errors() }}

        <ul class="container-group">
          <li>
            <div class="container">
              <h3>Product</h3>
            </div>

            <div class="container">
              <label for="id_product">Product</label>
              <input id="id_product" type="text" name="product" value="{{ form.product.value() }}" />
              {{ form.product.errors }}
            </div>
          </li>
        </ul>

        <ul class="container-group">
          <li>
            <div class="container">
              <h3>First</h3>
            </div>

            <div class="container">
              <label for="id_first_version">Version</label>
              <input id="id_first_version" type="text" name="first_version" value="{{ form.first_version.value() }}" />
              {{ form.first_version.errors }}
            </div>
            
            <div class="container">
              <label for="id_first_search_term">Search term</label>
              <input id="id_first_search_term" type="text" name="first_search_term" value="{{ form.first_search_term.value() }}" />
              {{ form.first_search_term.errors }}
            </div>

            <div class="container">
              <label for="first_start_date">Start date</label>
              <input id="id_first_start_date" type="text" name="first_start_date" value="{{ form.first_start_date.value() }}" placeholder="{{ form.first_start_date.help_text }}" />
              {{ form.first_start_date.errors }}
            </div>
          
            <div class="container">
              <label for="first_end_date">End date</label>
              <input id="id_first_end_date" type="text" name="first_end_date" value="{{ form.first_end_date.value() }}" placeholder="{{ form.first_start_date.help_text }}" />
              {{ form.first_end_date.errors }}
            </div>
          </li>

          <li>
            <div class="container">
              <h3>Second</h3>
            </div>

            <div class="container">
              <label for="id_second_version">Version</label>
              <input id="id_second_version" type="text" name="second_version" value="{{ form.second_version.value() }}" />
              {{ form.second_version.errors }}
            </div>

            <div class="container">
              <label for="id_second_search_term">Search term</label>
              <input id="id_second_search_term" type="text" name="second_search_term" value="{{ form.second_search_term.value() }}" />
              {{ form.second_search_term.errors }}
            </div>

            <div class="container">
              <label for="second_start_date">Start date</label>
              <input id="id_second_start_date" type="text" name="second_start_date" value="{{ form.second_start_date.value() }}" placeholder="{{ form.first_start_date.help_text }}" />
              {{ form.second_start_date.errors }}
            </div>
          
            <div class="container">
              <label for="second_end_date">End date</label>
              <input id="id_second_end_date" type="text" name="second_end_date" value="{{ form.second_end_date.value() }}" placeholder="{{ form.first_start_date.help_text }}" />
              {{ form.second_end_date.errors }}
            </div>
          </li>
        </ul>

        <div class="container">
          <button type="submit">Submit</button>
        </div>
      </form>

      <div class="clearfix"></div>

      {% if first_facet_bi is not none or second_facet_bi is not none %}
        <div id="permalink">
          <h3>Permalink for this report</h3>
          <input type="text" value="{{ permalink }}" readonly />
        </div>

        <div class="container">
          <h3>Bigrams</h3>
        </div>

        <div id="results">
          <div class="column">
            <p>Total responses: {{ first_facet_total }}</p>
            {% if first_facet_bi is not none %}
              <table>
                <tr>
                  <th>Count</th>
                  <th>Count / {{ first_normalization }}</th>
                  <th>Bigram</th>
                </tr>
                {% for item in first_facet_bi %}
                  <tr>
                    <td>{{ item.count }}</td>
                    <td>{{ (item.count / first_normalization)|round(3, 'floor') }}</td>
                    <td>
                      <a href="{{ url('dashboard')|urlparams(bigram=item.term, **first_params) }}">{{ item.term }}</a>
                    </td>
                  </tr>
                {% endfor%}
              </table>
            {% endif %}
          </div>

          <div class="column">
            <p>Total responses: {{ second_facet_total }}</p>
            {% if second_facet_bi is not none %}
              <table>
                <tr>
                  <th>Count</th>
                  <th>Count / {{ second_normalization }}</th>
                  <th>Bigram</th>
                </tr>
                {% for item in second_facet_bi %}
                  <tr>
                    <td>{{ item.count }}</td>
                    <td>{{ (item.count / second_normalization)|round(3, 'floor') }}</td>
                    <td>
                      <a href="{{ url('dashboard')|urlparams(bigram=item.term, **second_params) }}">{{ item.term }}</a>
                    </td>
                  </tr>
                {% endfor%}
              </table>
            {% endif %}
          </div>
        </div>
        <div class="clearfix"></div>
      {% endif %}
    </div>
  </div>
{% endblock %}
