{% extends "base.html" %}

{% block site_css %}
  {{ css('dashboard') }}
{% endblock %}

{% block site_js %}
  {{ js('dashboard') }}
{% endblock %}

{% macro feedback_block(feedback) -%}
  <li class="opinion">
    {% if feedback.happy %}
      <span class="sprite happy">{{ _('Happy') }}</span>
    {% else %}
      <span class="sprite sad">{{ _('Sad') }}</span>
    {% endif %}
    <p>
      {{ feedback.description }}
    </p>
    <ul class="meta">
      <li><time datetime="{{ feedback.created }}Z" title="{{ feedback.created }} UTC">
        {{ feedback.created|naturaltime }}
      </time></li>
      <li>{{ feedback.platform }}</li>
      <li>{{ feedback.locale|locale_name }}</li>
    </ul>
  </li>
{% endmacro -%}

{% macro filter_block(filter_set) %}
  <div class="filter">
    <h3>{{ filter_set.display }}</h3>
    <ul class="bars" data-total="{{ opinion_count }}" name="{{ filter_set.name }}">
      {% for item in filter_set.options %}
        <li data-value="{{ item.count }}">
          <input name="{{ item.name }}" type="checkbox" value="{{ item.value }}"{% if item.checked %}checked{% endif %} />
          <label class="bar" for="{{ item.name }}">
            <span>{{ item.display }}</span>
          </label>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro date_range_button(days, text) %}
  {% set days_text = '%sd' % days %}
  {% if selected == days_text %}
    {% set sel = 'selected' %}
  {% endif %}

  {% if days is none %}
    {% set ago = None %}
  {% else %}
    {% set ago = date_ago(days=days) %}
  {% endif %}

  {# date_end=None here is to remove the date_end parameter from the query string. #}
  {% set href = request.get_full_path()|urlparams(date_start=ago, date_end=None, selected=days_text) %}

  <a class="button when {{ sel }}" href="{{ href }}">{{ text }}</a>
{% endmacro %}

{% block body_id %}dashboard{% endblock %}

{% block content %}

<div class="col">
{% block content_leftside %}
  <div class="block search">

    <div class="filter">
      <h3>When</h3>
      {# L10n: Short for 1 day. #}
      {{ date_range_button(1, _('1d')) }}
      {# L10n: Short for 7 days. #}
      {{ date_range_button(7, _('7d')) }}
      {# L10n: Short for 30 days. #}
      {{ date_range_button(30, _('30d')) }}
      {# The `None` here is to remove the start_date from the URL. #}
      {# L10n: Symbol for "all" date range. #}
      {{ date_range_button(None, _('&infin;')) }}

      <a href="#" class="expander button" for="whentext">{{ _('&raquo;') }}</a>

      <div class="expando" id="whentext">
        <input type="date" name="date_start" value="{{ current_search.date_start }}"
          placeholder="{{ _('Start') }}"> -
        <input type="date" name="date_end" value="{{ current_search.date_end }}"
          placeholder="{{ _('End') }}">
        <a href="#" class="button" id="whensubmit">{{ _('Set') }}</a>
      </div>
    </div>

    {% for filter_set in filter_data %}
      {{ filter_block(filter_set) }}
    {% endfor %}

  </div>
{% endblock %}
</div>

<div class="col wide">
{% block content_middle %}
  <div class="block graph">
    {# A graph will be dynamically inserted in these divs by Flot. #}
    <div class="histogram" data-histogram="{{ histogram|to_json }}"></div>
    <div class="legend"></div>
  </div>

  <div class="block feedback">
    <h2>{{ _('Latest Feedback') }}</h2>

    <form id="feedback_search" action="{{ request.get_full_path() }}" method="get">
      <input class="search_box" type="text" name="q"
        placeholder="{{ _('Search by keyboard') }}" value="{{ current_search.q }}" />

      {% for key, value in current_search.items() %}
        {% if key != 'q' %}
          <input type="hidden" name="{{ key }}" value="{{ value }}" />
        {% endif %}
      {% endfor %}
    </form>

    <ul>
    {% for opinion in opinions %}
      {{ feedback_block(opinion) }}
    {% endfor %}
    </ul>

    <div class="pager">
      {% if next_page %}
        <a class="older" href="{{ request.get_full_path()|urlparams(page=next_page) }}">
          {{ _('Older Messages') }}
        </a>
      {% endif %}
      {% if prev_page %}
        <a class="newer" href="{{ request.get_full_path()|urlparams(page=prev_page) }}">
          {{ _('Newer Messages') }}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}
</div>

<div class="col">
{% block content_rightside %}
  <div class="block count">
    <h3>{{ _('Messages') }}</h3>
    <p><strong>{{ opinion_count }}</strong></p>
  </div>
{% endblock %}
</div>

{% endblock %}
