{% extends "analytics/dashboard_base.html" %}
{# Note: This is not l10n-ized since it's alpha-quality and will likely get removed. #}

{% block body_id %}dashboard{% endblock %}

{% block content %}
  <div class="col">
    <div class="block">
      <div class="filter">
        <div class="expando" id="whentext">
          <input id="date_start" type="date" name="date_start" value="{{ start_date }}" placeholder="Start">
          -
          <input id="date_end" type="date" name="date_end" value="{{ end_date }}" placeholder="End">
          <a href="#" class="button" id="whensubmit">Set</a>
        </div>

        <form id="feedback_search" action="{{ request.get_full_path() }}" method="get">
          <input class="search_box" type="text" name="q"
                 placeholder="Search by keyword" value="{{ current_search.q }}" />

          {% for key, value in current_search.items() %}
            {% if key != 'q' %}
              <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endif %}
          {% endfor %}
          <a href="https://wiki.mozilla.org/Firefox/Input#Search_syntax" target="_blank"><img src="/static/img/help.png"/></a>
        </form>
      </div>
    </div>
  </div>

  <div class="col doublewide">
    <div class="info">
      <p>
        <b>Warning: Very alpha version!</b>
      </p>
      <p>
        This is an alpha version of the {{ product.display_name }} product
        dashboard I threw together in a couple of days on a lark
        before Australis.
      </p>
    </div>

    <div class="block">
      <h1>{{ product.display_name }}</h1>

      <h2>Totals</h2>
      <div class="graph">
        {# A graph will be dynamically inserted in these divs by Flot. #}
        <div class="histogram" data-histogram="{{ histogram|to_json }}"></div>
        <div class="legend"></div>
        <div class="note">Note: All dates and times are in Pacific Time.</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block site_js %}
  {{ js('productdashboard') }}
  <script type="text/javascript" src="https://login.persona.org/include.js"></script>
{% endblock %}
