{% extends "analytics/dashboard_base.html" %}

{% block body_id %}dashboard{% endblock %}

{% block content %}

<div class="col">
{% block content_leftside %}
{% endblock %}
</div>

<div class="col wide">
{% block content_middle %}
  <div class="block feedback">
    <h2>{{ _('Response id: {id}')|f(id=response.id) }}</h2>

    <ul>
      <li class="opinion">
        {% if response.happy %}
          <span class="sprite happy">{{ _('Happy') }}</span>
        {% else %}
          <span class="sprite sad">{{ _('Sad') }}</span>
        {% endif %}
        <dl class="inline">
          <dt>{{ _('Description') }}</dt>
          <dd>
            <p>{{ response.description|nl2br }}</p>
          </dd>
          <dt>{{ _('Created') }}</dt>
          <dd>
            {#
               Note: This next line says it's -0800/PST, but the server time is
               Pacific and "celebrates" daylight savings so it's a villainous lie
               for all datetimes in PDT.
            #}
            {% set created_date = to_date_string(response.created) %}
            <a href="{{ url('dashboard')|urlparams(date_start=created_date, date_end=created_date) }}">
              <time datetime="{{ created_date }}-08:00" title="{{ created_date }} PST">
                {{ response.created }} ({{ response.created|naturaltime }})
              </time>
            </a>
          </dd>
          <dt>{{ _('Platform') }}</dt>
          <dd>
            <a href="{{ url('dashboard')|urlparams(platform=response.platform) }}">
              {{ response.platform|unknown }}
            </a>
          </dd>
          <dt>{{ _('Locale') }}</dt>
          <dd>
            <a href="{{ url('dashboard')|urlparams(locale=response.locale) }}">
              {{ response.locale|locale_name }}
            </a>
          </dd>
          <dt>{{ _('Product') }}</dt>
          <dd>
            {{ response.product|unknown }}
          </dd>
          <dt>{{ _('Version') }}</dt>
          <dd>
            {{ response.version|unknown }}
          </dd>
          <dt>{{ _('Channel') }}</dt>
          <dd>
            {{ response.channel|unknown }}
          </dd>
          <dt>{{ _('URL Domain') }}</dt>
          <dd>
            {{ response.url_domain or 'None' }}
          </dd>
        </dl>

        {% if user.is_authenticated() and user.has_perm('analytics.can_view_dashboard') %}
          <dl class="inline secret">
            <dt>{{ _('URL') }}</dt>
            <dd>
              {{ response.url or 'None' }}
            </dd>
            <dt>{{ _('Country') }}</dt>
            <dd>
              {{ response.country|unknown }}
            </dd>
            <dt>{{ _('Manufacturer') }}</dt>
            <dd>
              {{ response.manufacturer|unknown }}
            </dd>
            <dt>{{ _('Device') }}</dt>
            <dd>
              {{ response.device|unknown }}
            </dd>
            <dt>{{ _('User agent') }}</dt>
            <dd>
              {{ response.user_agent|unknown }}
            </dd>
            <dt>{{ _('Email address') }}</dt>
            <dd>
              {% if response.responseemail_set.count() > 0 %}
                {{ response.responseemail_set.all()[0].email }}
              {% else %}
                &mdash;
              {% endif %}
            </dd>
            <dt>{{ _('API version')  }}</dt>
            <dd>
              {{ response.api or '--' }}
            <dt>More like this</dt>
            <dd id="mlt">
              {% if mlt %}
                {% for item in mlt %}
                  <div class="mlt-response">
                    <strong>
                      <a href="{{ url('response_view', responseid=item.id) }}">{{ item.created }}, {{ item.product or 'Unknown' }} - {{ item.version or 'Unknown' }}</a>
                    </strong><br />
                    {{ item.description }}
                  </div>
                {% endfor %}
              {% else %}
                --
              {% endif %}
            </dd>
            {% if user.is_superuser %}
              <dt>Actions</dt>
              <dd>
{# FIXME: This is hardcoded and goofy. Better delete measures will come later in bug #949461. #}
                  <a href="/admin/feedback/response/?q={{ response.description|replace('\n', ' ')|truncate(100, False, '') }}">Delete in admin</a>
              </dd>
            {% endif %}
          </dl>
        {% endif %}

      </li>
    </ul>
  </div>
{% endblock %}
</div>

<div class="col">
{% block content_rightside %}
{% endblock %}
</div>

{% endblock %}
