{% extends "analytics/dashboard_base.html" %}

{% block body_id %}dashboard{% endblock %}

{% block content %}

<div class="col">
{% block content_leftside %}
{% endblock %}
</div>

<div class="col wide">
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message.tags }}: {{ message }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% block content_middle %}
  <div class="block feedback">
    <h2>{{ _('Response id: {id}')|f(id=response.id) }}</h2>

    <ul>
      <li class="opinion">
        {% if response.happy %}
          <span class="sprite happy">{{ _('Happy') }}</span>
        {% else %}
          <span class="sprite sad">{{ _('Sad') }}</span>
        {% endif %}
        <dl class="inline">
          {% if errors %}
            <dt>Errors</dt>
            <dd>
              <p>
                These errors were kicked up when retrieving this data:
              </p>
              {% for error in errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </dd>
          {% endif %}
          <dt>{{ _('Category') }}</dt>
          <dd>
            {{ response.category or _('None') }}
          </dd>
          <dt>{{ _('Description') }}</dt>
          <dd>
            <p>{{ response.description|nl2br }}</p>
          </dd>
          <dt>{{ _('Translated') }}</dt>
          <dd>
            <p>
              {% if response.translated_description %}
                {{ response.translated_description|nl2br }}

              {% elif user.is_authenticated() and user.has_perm('analytics.can_view_dashboard') %}
                <div class="inline secret">
                  <form method="POST" action="{{ url('spot_translate', response.id) }}">
                    {{ csrf() }}
                    <input type="hidden" name="system" value="gengo_machine">
                    <button type="submit">{{ _('Translate (machine)') }}</button>
                  </form>
                  {% if user.is_superuser %}
                    <form method="POST" action="{{ url('spot_translate', response.id) }}">
                      {{ csrf() }}
                      <input type="hidden" name="system" value="gengo_human">
                      <button type="submit">{{ _('Translate (human)') }}</button>
                    </form>
                  {% endif %}
                  <div>
                    Note: Clicking this redirects back to this page
                    and does the translation asynchronously at some
                    point in the future. If the translation attempt
                    fails, it won't bubble up the error. All that will
                    get fixed at some point.
                  </div>
                </div>
              {% endif %}
              &nbsp;
            </p>
          </dd>
          <dt>{{ _('Created') }}</dt>
          <dd>
            {#
               Note: This next line says it's -0800/PST, but the server time is
               Pacific and "celebrates" daylight savings so it's a villainous lie
               for all datetimes in PDT.
            #}
            {% set created_date = to_date_string(response.created) %}
            <a href="{{ url('dashboard')|urlparams(date_start=created_date, date_end=created_date) }}">
              <time datetime="{{ created_date }}-08:00" title="{{ created_date }} PST">
                {{ response.created }} ({{ response.created|naturaltime }})
              </time>
            </a>
          </dd>
          <dt>{{ _('Platform') }}</dt>
          <dd>
            <a href="{{ url('dashboard')|urlparams(platform=response.platform) }}">
              {{ response.platform|unknown }}
            </a>
          </dd>
          <dt>{{ _('Locale') }}</dt>
          <dd>
            <a href="{{ url('dashboard')|urlparams(locale=response.locale) }}">
              {{ response.locale|locale_name }}
            </a>
          </dd>
          <dt>{{ _('Product') }}</dt>
          <dd>
            {{ response.product|unknown }}
          </dd>
          <dt>{{ _('Version') }}</dt>
          <dd>
            {{ response.version|unknown }}
          </dd>
          <dt>{{ _('Channel') }}</dt>
          <dd>
            {{ response.channel|unknown }}
          </dd>
          <dt>{{ _('URL Domain') }}</dt>
          <dd>
            {{ response.url_domain or _('None') }}
          </dd>
          <dt>{{ _('Source') }}</dt>
          <dd>
            {{ response.source or _('None') }}
          </dd>
          <dt>{{ _('Campaign') }}</dt>
          <dd>
            {{ response.campaign or _('None') }}
          </dd>
          <dt>{{ _('Browser') }}</dt>
          <dd>
            {{ response.browser or _('None') }}
          </dd>
          <dt>{{ _('Browser Ver.') }}</dt>
          <dd>
            {{ response.browser_version or _('None') }}
          </dd>
          <dt>{{ _('Browser Plat.') }}</dt>
          <dd>
            {{ response.browser_platform or _('None') }}
          </dd>
        </dl>

        {% if user.is_authenticated() and user.has_perm('analytics.can_view_dashboard') %}
          <dl class="inline secret">
            <dt>{{ _('Full URL') }}</dt>
            <dd>
              {{ response.url or 'None' }}
            </dd>
            <dt>{{ _('Country') }}</dt>
            <dd>
              {{ response.country|unknown }}
            </dd>
            <dt>{{ _('Manufacturer') }}</dt>
            <dd>
              {{ response.manufacturer|unknown }}
            </dd>
            <dt>{{ _('Device') }}</dt>
            <dd>
              {{ response.device|unknown }}
            </dd>
            <dt>{{ _('User agent') }}</dt>
            <dd>
              {{ response.user_agent|unknown }}
            </dd>
            <dt>{{ _('Email') }}</dt>
            <dd>
              {% if response.responseemail_set.count() > 0 %}
                {{ response.responseemail_set.all()[0].email }}
              {% else %}
                &mdash;
              {% endif %}
            </dd>
            <dt>{{ _('Browser data') }}</dt>
            <dd>
              {% if response.has_browserdata %}
                {{ _('yes') }}
              {% else %}
                &mdash;
              {% endif %}
            </dd>
            <dt>{{ _('API version')  }}</dt>
            <dd>
              {{ response.api or '--' }}
            <dt>More like this</dt>
            <dd id="mlt">
              {% if mlt %}
                {% for item in mlt %}
                  <div class="mlt-response">
                    <strong>
                      <a href="{{ url('response_view', responseid=item.id) }}">{{ item.created }}, {{ item.product or 'Unknown' }} - {{ item.version or 'Unknown' }}</a>
                    </strong><br />
                    {{ item.description }}
                  </div>
                {% endfor %}
              {% else %}
                --
              {% endif %}
            </dd>
            <dt>{{ _('Context') }}</dt>
            <dd>
              {% if response.responsecontext_set.count() > 0 %}
                {{ response.responsecontext_set.all()[0].data }}
              {% else %}
                &mdash;
              {% endif %}
            </dd>
            {% if user.is_superuser %}
              <dt>Actions</dt>
              <dd>
{# FIXME: This is hardcoded and goofy. Better delete measures will come later in bug #949461. #}
                  <a href="/admin/feedback/response/?q={{ response.description|replace('\n', ' ')|truncate(100, False, '') }}">Delete in admin</a>
              </dd>
            {% endif %}
          </dl>
        {% endif %}
      </li>
    </ul>

    {% if user.is_superuser %}
      <div class="secret">
        <h3>Audit logs</h3>

        {% if records %}
          <table>
            {% for name, entries in records %}
              <tr>
                <td colspan="2"><h4>{{ name }}</h4></td>
              </tr>
              <tr>
                <th>created</th>
                <th>app / src / type / action || msg || metadata</th>
              </tr>
              {% for entry in entries %}
                <tr>
                  <td>{{ entry.created }}</td>
                  <td>
                    {{ entry.app }} / {{ entry.src }} / {{ entry.type }} / {{ entry.action }}<br />
                    <b>{{ entry.msg }}</b><br />
                    {{ entry.metadata }}
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}
          </table>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
</div>

<div class="col">
{% block content_rightside %}
{% endblock %}
</div>

{% endblock %}
