{% extends "analytics/dashboard_base.html" %}

{% block body_id %}sdashboard{% endblock %}

{% block content %}

<div class="col">
{% block content_leftside %}
  <div class="block">
    <h2>Reports</h2>
    <ul>
      <li><a href="{{ url('spam_duplicates') }}">Spam: Duplicates</a></li>
    </ul>
  </div>
{% endblock %}
</div>

<div class="col wide">
{% block content_middle %}
  <div class="block">
    <h2>
      Greetings, Spamfighter {{ displayname(user) }}! You
      have been recruited by the Star League to defend the frontier against
      Xur and the Ko-Dan armada.
    </h2>
  </div>
{% endblock %}
</div>

<div class="col">
{% block content_rightside %}
{% endblock %}
</div>

{% endblock %}
