{% extends "analytics/spam_dashboard.html" %}
{# Note: This is not l10n-ized since it's only available to analyzers for now. #}

{% block content %}
  <div class="col full">
    <div class="block feedback">
      <h2>Spam: Duplicates over the last {{ n }} days ordered by most duplicate-y</h2>
      <p>
        Report rendered on {{ render_time|datetime('%a %b %d %Y at %H:%M:%S') }}
      </p>
      <p>
        <strong>Total responses in the last {{ n }} days:</strong> {{ total_count }}
      </p>

      <h3>Summary</h3>
      <table class="summarytable">
        <thead>
          <tr>
            <th>responses with n duplicates</th>
            <th>count</th>
            <th>elite ascii graphing technology</th>
          </tr>
        </thead>
        <tbody>
          {% for duplicate_count, count in summary_counts %}
            <tr>
              <td>{{ duplicate_count }}</td>
              <td>{{ count }}</td>
              <td><span class="spamasciibar">{{ 'l' * count }}</span></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Details</h3>
      <table class="spamtable">
        <tbody>
          {% for desc, responses in response_dupes %}
            <tr>
              <td>
                <p>
                  <strong>Count:</strong> {{ responses|count }}
                </p>
                <p>
                  <strong>Range:</strong> {{ responses[0].created|datetime('%a %b %d %Y at %H:%M:%S') }} - {{ responses[-1].created|datetime('%a %b %d %Y at %H:%M:%S') }}
                </p>
                <p>
                  <strong>Description:</strong>
                </p>
                <p>{{ desc }}</p>
              </td>
              <td>
                <table class="details">
                  <tbody>
                    {% for resp in responses %}
                      <tr>
                        <td><a href="{{ url('response_view', responseid=resp.id) }}">{{ resp.id }}</a></td>
                        <td>{% if resp.happy %}Happy{% else %}Sad{% endif %}</td>
                        <td><p>{{ resp.created|datetime('%a %b %d %Y at %H:%M:%S') }}</p></td>
                        <td>{{ resp.locale }}</td>
                        <td>{{ resp.ua }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
