{% extends "analytics/dashboard_base.html" %}
{# Note: This is not l10n-ized since it's only available to analyzers for now. #}

{% block body_id %}sdashboard{% endblock %}

{% block content %}

<div class="col">
{% block content_leftside %}
  <div class="block">
    <h2>Reports</h2>
    <p>
      <a href="{{ url('spam_duplicates') }}">Spam: Duplicates</a>
    </p>
  </div>
{% endblock %}
</div>

<div class="col wide">
{% block content_middle %}
  <div class="block">
    <h2>
      Welcome Spamfighter {{ displayname(user) }}!
    </h2>
    <p>
      This dashboard holds spam-related reports for Analyzers.
    </p>
  </div>
{% endblock %}
</div>

<div class="col">
{% block content_rightside %}
{% endblock %}
</div>

{% endblock %}
