{% extends "analytics/dashboard_base.html" %}

{% block body_id %}dashboard{% endblock %}

{% block content %}
  <div class="col">
  </div>

  <div class="col wide">
    <div class="block feedback uc">
      <h1>
        {% trans %}
          Hi,
        {% endtrans %}
    </h1>
      <p>
        {% trans %}
          Welcome to Firefox Input dashboard. Pardon our dust. The Mozilla User Advocacy team is currently
          in the process of redesigning our feedback dashboards to make
          them clearer, easier to understand and more useful. Don't
          worry, we're still collecting feedback from Firefox users
          during construction.
        {% endtrans %}
      </p>

      <section class="uc-help">
          <h2>Want to help?</h2>

          <ul>
            <li>
              {% trans survey_url="http://www.surveygizmo.com/s3/1629097/Firefox-Input-Dashboard" %}
                <a href="{{ survey_url }}">Fill out this quick survey</a> about how you use Input.
              {% endtrans %}
            </li>
            <li>
              {% trans bug_url="https://bugzilla.mozilla.org/enter_bug.cgi?product=Input&rep_platform=all&op_sys=all&short_desc=Request info" %}
                Need some data right now? We're happy to help! <a href="{{ bug_url }}">File a bug</a>.
              {% endtrans %}
            </li>
            <li>
                {% trans feedback_url="https://input.mozilla.org/feedback/firefox" %}
                  <a href="{{ feedback_url }}">I want to give feedback about Firefox</a>
                {% endtrans %}
            </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="col">
  </div>
{% endblock %}
