<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <title>{% block page_title %}{{ _('Welcome') }}{% endblock %} :: {{ _('Firefox Input') }}</title>
    <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, minimum-scale=1">

    {% block site_css %}
      {{ css('base-mobile') }}
    {% endblock %}

    <link rel="shortcut icon" type="image/png" href="{{ settings.STATIC_URL }}img/favicon.png"/>
    {% block extra_headers %}{% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}" class="html-{{ DIR }}">
    <nav id="nav-access">
      <ul>
        <li><a href="#main-content">{{ _('Proceed to main content') }}</a></li>
        <li><a href="#footer">{{ _('Proceed to footer') }}</a></li>
      </ul>
    </nav>

    {% block site_header %}
      <header>
        <h1 class="title"><a href="/">
          {% trans %}
            <strong>Firefox</strong> Input
          {% endtrans %}
        </a></h1>

        <ul>
          <li><a class="dashboard" href="{{ url('dashboard') }}"><span>{{ _('Dashboard') }}</span></a></li>
        </ul>
      </header>
    {% endblock site_header %}

    {% if settings.SHOW_STAGE_NOTICE %}
      {{ css('stage') }}
      <div class="stage-banner">
        <div class="close-button">X</div>
        This is a dev/staging site. The production site is
        <a href="http://input.mozilla.org">here</a>.
      </div>
    {% endif %}

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    {% block site_js %}
      {{ js('base') }}
    {% endblock %}
  </body>
</html>
