.filter {
  padding: 15px 0;

  &:first-child { padding-top: 0; }
  &:last-child { padding-bottom: 0; }

  &:not(:last-child) {
    border-bottom: 1px dotted #B6BCC0;
  }

  h3 {
    margin-bottom: 3px;
  }
}

.secret {
  background: #fee;
  border: 1px solid red;
  padding: 5px 0;
}

dl.inline {
  line-height: 13pt;

  dt {
    clear: left;
    float: left;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: right;
    width: 100px;
  }

  dd {
    margin: 0 0 10px 115px;
  }
}

ul.bars {
  padding: 0px;
  margin: 0px;

  li {
    list-style: none;
    white-space: nowrap;

    label {
      position: relative;
      display: inline-block;
      width: 85%;
      vertical-align: center;
      padding: 3px;
      margin: 3px;

      &:hover {
        background: #F4F4F4;
      }

      span {
        z-index: 1;
        position: relative;
      }

      .percent {
        opacity: 0.5;

        &:before { content: "("; }
        &:after { content: ")"; }
      }

      .count {
        opacity: 0;
        position: absolute;
        right: 0;
      }
      &:hover .count {
        opacity: 1;
      }

      .bar_bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: #DDEDF5;
        z-index: 0;
      }
    }
  }
}

.graph {
  .histogram {
    height: 300px;
    width: 100%;
  }

  .note {
    font-size: 11px;
    color: #888;
    margin-top: 10px;
  }

  .legend table {
    margin: 10px auto 0;
    font-size: 12px;

    td.legendLabel {
      padding-right: 25px;
    }
  }
}

.note {
  color: red;
}

.summarytable {
  display: block;
  padding: 5px 40px;
  position: relative;

  th, td {
    padding: 4px 8px;
  }

  tbody {
    tr:nth-child(even) {
      background-color: #fff;
    }

    tr:nth-child(odd) {
      background-color: #eef;
    }
  }
}

.spamasciibar {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.spamtable {
  display: block;
  padding: 5px 40px;
  position: relative;

  p {
    margin: 0 0 3px 0;
    font-size: 14px;
    line-height: 18px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }

  > tbody {
    > tr {
      > td {
        width: 50%;
        padding: 20px;
        vertical-align: top;
      }
    }

    > tr:nth-child(even) {
      background-color: #fff;
    }

    > tr:nth-child(odd) {
      background-color: #eef;
    }
  }

  table.details {
    width: 100%;
    td {
      padding: 5px 10px;
      vertical-align: top;

      p {
        white-space: nowrap;
      }
    }
  }
}

#results {
  margin: 0 0;
  padding: 0 0;
  width: 100%;

  div.column {
    float: left;
    padding: 0 0;
    margin: 0 0 0 10%;
    width: 40%;
  }

  table {
    th, td {
      padding: 3px 8px;
    }
  }
}

#permalink {
  margin: 0px 0px 15px 0px;

  input {
    width: 60%;
  }
}

#occurrence-form {
  margin: 0 0;
  padding: 0 0;

  ul.errorlist {
    color: red;
    margin-left: 1%;
  }

  ul.container-group {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    width: 100%;

    li:nth-of-type(2n-1) {
      clear: left;
    }

    li {
      float: left;
      position: relative;
      width: 50%;
    }
  }

  .container {
    clear: both;
    margin-bottom: 20px;
    width: 100%;

    ul.errorlist {
      clear: left;
      margin-left: 20%;
    }

    h3,
    label {
      float: left;
      margin-right: 5%;
      text-align: right;
      width: 15%;
      vertical-align: baseline;
    }

    h3 {
      margin-top: 15px;
    }

    input,
    select {
      float: left;
    }

    input {
      width: 30%;
    }

    button {
      background-clip: padding-box;
      background-color: #81BC2E;
      background-image: -moz-linear-gradient(center top , #81BC2E 0px, #629827 100%);
      border-bottom: 2px solid #548322;
      border-radius: 5px;
      content: "";
      font-size: 15px;
      margin: 15px 0px 0px 70%;
      padding: 8px 23px;
    }

    ul {
      list-style: none;
      margin: 5px 0px 0px 130px;
      padding: 0;

      > li {
        margin-bottom: 5px;
      }
    }
  }
}
