{% extends "mobile/base.html" %}

{% block site_css %}
  {{ css('feedback-mobile') }}
{% endblock %}

{% block site_js %}
  {{ js('feedback-mobile') }}
{% endblock %}

{% block page_title %}{{ _('Submit Your Feedback') }}{% endblock %}

{# Remove site header. #}
{% block site_header %}{% endblock %}

{% block content %}

  <article id="intro">
    <header>
      <h1>{{ _('Submit Your Feedback') }}</h1>
    </header>

    <section>
      <h2>{{ _('Your feedback helps us improve Firefox.') }}</h2>
      <button class="happy">{{ _('Firefox made me happy') }}</button>
      <button class="sad">{{ _('Firefox made me sad') }}</button>
    </section>

    <aside>
      <span>
        {% trans support_url='http://support.mozilla.org/' %}
          If you need help or have a problem
          with Firefox, please visit <a href="{{ support_url }}">Firefox Support</a>.
        {% endtrans %}
      </span>
    </aside>
  </article>

  <article id="moreinfo">
    <header>
      <button class="back"></button>
      <h1 class="happy">{{ _('Firefox made me happy') }}</h1>
      <h1 class="sad">{{ _('Firefox made me sad') }}</h1>
    </header>

    <section>
      <form action="" method="post">
        <div>
          <label class="happy" for="description">
            {{ _('Please describe what you liked.') }}
          </label>
          <label class="sad" for="description">
            {{ _('Please describe your problem below.') }}
          </label>

          <p>{{ form.description }}</p>
          <div id="{{ type }}-description-counter" class="characters-remaining"></div>
          {{ form.description.errors }}
        </div>

        <div class="feedback-message sad">
          {{ _('Please be as specific as you can.') }}
        </div>

        <label class="email-ok">
          <p>
            {{ form.email_ok }}
            {{ _('Check here to let us contact you to follow up on your feedback.') }}
          </p>
        </label>

        <div class="email">
          <label for="id_email">
            {{ _('Email address (optional):') }}
          </label>
          <p>{{ form.email }}</p>
          {{ form.email.errors }}
        </div>

        <p>
          {% trans %}
            The content of your feedback will be public, so please be
            sure not to include any personal information.
          {% endtrans %}
          <span id="privacy-email">
            {{ _("Don't worry, your email will always be kept private.") }}
          </span>
        </p>

        {{ form.errors['__all__'] }}

        <button class="btn submit">{{ _('Send Feedback') }}</button>

        {% for hidden in form.hidden_fields() %}
          {{ hidden }}
        {% endfor %}
        {{ csrf() }}
      </form>
    </section>
    <aside class="sad">
      <p>
        {% trans support_url='http://support.mozilla.org/' %}
          For support requests, please go to <a href="{{ support_url }}">Mozilla Support</a> instead.
        {% endtrans %}
      </p>
    </aside>
  </article>

{% endblock %}
