{% extends "mobile/base.html" %}

{% block site_css %}
  {{ css('mobile/thanks') }}
{% endblock %}

{% block page_title %}{{ _('Thank you for your feedback!') }}{% endblock %}

{# Remove site header. #}
{% block site_header %}{% endblock %}

{% block content %}

  <article id="thanks">
    <header>
      <h1>{{ _('Success!') }}</h1>
    </header>

    <aside>
      <h3>
        {% trans %}
          Thanks for the feedback! We will use it to help create a better
          experience in future releases of Firefox.
        {% endtrans %}
    </h3>
    </aside>

    <section>
      <p>
        {% trans %}
          Want to know what's going on with Firefox? We have many ways of
          staying in touch:
        {% endtrans %}
      </p>

      <ul class="linklist">
        <li class="beta">
          <span>{{ _('Shape the future of Firefox.') }}</span>
          <a href="http://www.mozilla.org/firefox/channel">
            <h3>{{ _('Download the build that is right for you') }}</h3>
          </a>
        </li>
        <li class="contribute">
          <span>{{ _('Contribute to Mozilla.') }}</span>
          <a href="http://mozilla.org/contribute/">
            <h3>{{ _('Learn how you can make Firefox and Mozilla better') }}</h3>
          </a>
        </li>
        <li class="dashboard">
          <span>{{ _('Want to see where your feedback goes?') }}</span>
          <a href="{{ url('dashboard') }}">
            <h3>{{ _('Visit the Firefox Feedback Dashboard') }}</h3>
          </a>
        </li>
        <li class="social">
          <span>{{ _('Find the latest news about Mozilla.') }}</span>
          <ul>
            <li class="twitter">
              <a href="http://twitter.com/firefox">
                {{ _('Twitter') }}
              </a>
            </li>
            <li class="facebook">
              <a href="http://www.facebook.com/Firefox">
                {{ _('Facebook') }}
              </a>
            </li>
            <li class="planet">
              <a href="http://planet.mozilla.org/">
                {{ _('Planet Mozilla') }}
              </a>
            </li>
          </ul>
        </li>
      </ul>

    </section>
  </article>

{% endblock %}
