{% extends "feedback/base.html" %}

{% block site_js %}
  {% javascript 'fxos_feedback' %}
{% endblock %}

{% block page_title %}{{ _('Submit Your Feedback') }}{% endblock %}

{% set extra_body_attrs = {'data-form-name': 'fxos'} %}

{% block content %}
  <div class="content">
    <header>
      <div class="header-content">
        <div class="left-side">
          <div id="back-button-container" tabindex=0>
            <svg id="back-button" viewBox="0 0 55 100">
              <g>
                <path d="M 45 13 L 0 50 L 45 87" stroke-width="7" fill="none"/>
              </g>
            </svg>
          </div>
        </div>
        <div class="middle">
          <h1>&nbsp;</h1>
        </div>
      </div>
    </header>

    <div class="deck">
      <div class="card no-back" id="intro" data-title="{{ _('{product} feedback')|fe(product=product.display_name) }}">
        <section>
          <div class="ask">
            <noscript>
              <p class="error">
                {% trans %}
                  JavaScript is required to leave feedback. Please enable JavaScript in your browser and refresh this page.
                {% endtrans %}
              </p>
            </noscript>

            {# FIXME: hard-coded product name here #}
            {{ _('Your feedback helps us improve Firefox OS.') }}
          </div>

          <div id="sentiment">
            <div id="happy-button" class="sentiment-button" tabindex=0>
              <svg class="face happy-face" viewBox="0 0 100 100">
                <g>
                  <!-- 100 by 100 -->
                  <circle cx="50" cy="50" r="43" stroke-width="7" fill="none"/>
                  <circle cx="33" cy="37" r="7" stroke-width="0" />
                  <circle cx="67" cy="37" r="7" stroke-width="0" />
                  <path d="M22 58 C 35 85, 65 85, 78 58" stroke-width="6" fill="none"/>
                </g>
              </svg>
              <div class="face-description">
                {% trans product=product.display_name %}
                  {{product}} makes me happy
                {% endtrans %}
              </div>
            </div>

            <div id="sad-button" class="sentiment-button" tabindex=0>
              <svg class="face sad-face" viewBox="0 0 100 100">
                <g>
                  <!-- 100 by 100 -->
                  <circle cx="50" cy="50" r="43" stroke-width="7" fill="none"/>
                  <circle cx="33" cy="37" r="7" stroke-width="0" />
                  <circle cx="67" cy="37" r="7" stroke-width="0" />
                  <path d="M24 72 C 35 55, 65 55, 76 72" stroke-width="6" fill="none"/>
                </g>
              </svg>
              <div class="face-description">
                {% trans product=product.display_name %}
                  {{product}} makes me sad
                {% endtrans %}
              </div>
            </div>
          </div>

          <aside>
            <div id="back-to-picker">
              {% trans product=product.display_name, url=url('feedback') + '?' + request.GET.urlencode() %}
                Is {{product}} not the product you want to give feedback on?<br />
                <a href="{{url}}">Pick a different product</a>.
              {% endtrans %}
            </div>
          </aside>
        </section>
        <input type="hidden" name="happy" id="happy" value="0"/>
      </div>

      <div class="card inactive" id="country" data-title="{{ _('Country') }}">
        <section>
          <div class="ask">
            <label for="country-select">
              {{ _('In what country did you purchase your Firefox OS device?') }}
            </label>
          </div>
          <div class="input-box">
            <select name="country" id="country-select">
              {% for value, display in countries %}
                <option value="{{ value }}">{{ display }}</option>
              {% endfor %}
              <option value="">{{ _('Other') }}</option>
            </select>
          </div>
          <div class="input-box">
            <button class="btn next">{{ _('Next') }}</button>
          </div>
          <input type="hidden" id="locale" name="locale" value="{{ request.locale }}"/>
        </section>
      </div>

      <div class="card inactive" id="device" data-title="{{ _('Device') }}">
        <section>
          <div class="ask">
            <label for="device-select">
              {{ _('What Firefox OS device are you using?') }}
            </label>
          </div>
          <div class="input-box">
            <select name="device" id="device-select">
              {% for value in devices %}
                <option value="{{ value }}">{{ value }}</option>
              {% endfor %}
              <option value="">{{ _('Other') }}</option>
            </select>
          </div>
          <div class="input-box">
            <button class="btn next">{{ _('Next') }}</button>
          </div>
        </section>
      </div>

      <div class="card inactive" id="moreinfo" data-focus="#description" data-title="{{ _('Details') }}">
        <section>
          <div class="ask">
            <label for="description">
              <span class="happy">
                {% trans %}
                  Please describe what you like.
                  The content of your feedback will be public, so please be
                  sure not to include personal information such as email
                  address, passwords or phone number.
                {% endtrans %}
              </span>
              <span class="sad">
                {% trans %}
                  Please describe your problem below and be as specific as
                  you can.
                  The content of your feedback will be public, so please be
                  sure not to include personal information such as email
                  address, passwords or phone number.
                {% endtrans %}
              </span>
            </label>
          </div>
          <div class="input-box">
            <div id="description-counter">{{ TRUNCATE_LENGTH }}</div>
            <textarea data-max-length="{{ TRUNCATE_LENGTH }}" id="description" name="description"></textarea>
          </div>

          <div class="ask">
            <label for="id_url">
              {% trans %}
                If your feedback is related to a website, you can include it here:
              {% endtrans %}
            </label>
          </div>

          <div class="input-box">
            <input class="url" id="id_url" name="url" placeholder="http://" type="text">
          </div>

          <div class="private">
            <div class="ask">
              <input id="email-ok" name="email_ok" type="checkbox">
              <label class="email-ok" for="email-ok">
                {% trans %}
                  (Optional) Check here to let us contact you to follow
                  up on your feedback. Your email address will be kept
                  private.
                {% endtrans %}
              </label>
            </div>

            <div id="email-details" class="input-box">
              <input id="id_email" name="email" type="text" placeholder="username@example.com" disabled/>
              <p id="email-error" class="error">
                {{ _('Please enter a valid email address.') }}
              </p>
            </div>
          </div>
          <div class="input-box">
            <button id="form-submit-btn" class="complete btn submit" disabled>
              {{ _('Submit') }}
            </button>
          </div>
        </section>
      </div>

      <div class="card inactive no-back" id="submitting" data-title="{{ _('Submitting....') }}">
        <section>
          <div>
            <img class="in-progress" src="{{ settings.STATIC_URL }}img/wait-trans.gif"/>
          </div>
        </section>
      </div>

      <div class="card inactive no-back" id="thanks" data-title="{{ _('Success!') }}">
        <section>
          <div class="ask">
            <p>
              {% trans %}
                Thank you for your feedback! We will use it to help us create a better
                experience in future versions of Firefox OS.
              {% endtrans %}
            </p>
            <p>
              {% trans url='http://www.mozilla.org/contribute' %}
                Learn how you can <a href="{{ url }}">make Firefox OS and Mozilla
                better</a>.
              {% endtrans %}
            </p>
          </div>
        </section>
      </div>

      <div class="card inactive no-back" id="failure" data-title="{{ _('We\'re sorry!') }}">
        <section>
          <div class="ask">
            {% trans %}
              Something has happened and we can't submit your feedback. Feedback will
              be saved on your device so you can try sending it again later.
            {% endtrans %}
          </div>
          <div class="input-box">
            <button class="complete btn submit">{{ _('Try again') }}</button>
            <button class="cancel btn submit">{{ _('Cancel') }}</button>
          </div>
        </section>
      </div>

      <div class="card inactive no-back" id="tryagain" data-title="{{ _('Try again') }}">
        <section>
          <div class="ask">
            {% trans %}
              You have unsubmitted feedback data. Would you like to try submitting
              it again?
            {% endtrans %}
          </div>
          <div class="input-box">
            <button class="complete btn submit">{{ _('Try again') }}</button>
            <button class="cancel btn submit">{{ _('Cancel') }}</button>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
