{% extends "feedback/base.html" %}

{% block extra_headers %}
  {% if waffle.flag('feedbackdev') %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% else %}
    <meta name="viewport" content="height=480, width=320, initial-scale=1, maximum-scale=1, minimum-scale=1">
  {% endif %}
{% endblock %}

{% block site_css %}
  {% if waffle.flag('feedbackdev') %}
    {{ css('generic_feedback_dev') }}
  {% else %}
    {{ css('generic_feedback') }}
  {% endif %}
{% endblock %}

{% block site_js %}
  {% if waffle.flag('feedbackdev') %}
    {{ js('generic_feedback_dev') }}
  {% else %}
    <script src="{{ settings.STATIC_URL }}js/lib/brick-1.0.0.byob.min.js"></script>
    {{ js('generic_feedback') }}
  {% endif %}
{% endblock %}

{% block page_title %}{{ _('Submit Your Feedback') }}{% endblock %}

{% set extra_body_attrs = {'data-form-name': 'generic'} %}

{% block body %}
  {% if waffle.flag('feedbackdev') %}
    {% include 'feedback/generic_feedback_form_dev.html' %}
  {% else %}
    {% include 'feedback/generic_feedback_form.html' %}
  {% endif %}
{% endblock %}
