{% extends "feedback/base.html" %}

{% block site_css %}
  {% if waffle.flag('feedbackdev') %}
    {{ css('generic_feedback_dev') }}
  {% else %}
    {{ css('generic_feedback') }}
  {% endif %}
{% endblock %}

{% block site_js %}
  <script src="{{ settings.STATIC_URL }}js/lib/brick-1.0.0.byob.min.js"></script>
  {% if waffle.flag('feedbackdev') %}
    {{ js('generic_feedback_dev') }}
  {% else %}
    {{ js('generic_feedback') }}
  {% endif %}
{% endblock %}

{% block page_title %}{% if waffle.flag('feedbackdev') %}[DEV] {% endif %}{{ _('Submit Your Feedback') }}{% endblock %}

{% set extra_body_attrs = {'data-form-name': 'generic'} %}

{% block body %}
  {% if waffle.flag('feedbackdev') %}
    {% include 'feedback/generic_feedback_form_dev.html' %}
  {% else %}
    {% include 'feedback/generic_feedback_form.html' %}
  {% endif %}
{% endblock %}
