{% extends "feedback/base.html" %}
{# Note: This is not l10n-ized since it's a prototype. #}

{% block page_title %}{{ _('Select A Product') }}{% endblock %}

{% block extra_headers %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block site_js %}
  {{ js('singlecard') }}
{% endblock %}

{% block site_css %}
  {{ css('generic_feedback') }}
{% endblock %}

{% block body %}
  <div class="main">
    <header>
      <div class="header-content">
        <div class="middle">
          <h1>{{ _('Select a product') }}</h1>
        </div>
      </div>
    </header>

    <div class="deck">
      <div class="card" id="picker">
        <section class="product-picker">
          {% if not products %}
            <p class="no-products">{{ _('No products available.') }}</p>
          {% else %}
            <div class="ask">
              {% trans %}
                Select a product to leave feedback for.
              {% endtrans %}
            </div>
            <ul class="content">
              {% for prod in products %}
                <a href="{{ url('feedback', product=prod.slug) }}?{{ request.GET.urlencode() }}"
                   {% if prod.image_file %}
                     style="background-image: url({{ settings.STATIC_URL }}img/{{ prod.image_file }})"
                   {% endif %}
                   class="product-card">
                  <li>
                    <h3>{{ prod.display_name }}</h3>
                  </li>
                </a>
              {% endfor %}
            </ul>
          {% endif %}
        </section>
      </div>
    </div>
  </div>
{% endblock %}
