{% extends "feedback/base.html" %}

{% block page_title %}{{ _('Select A Product') }}{% endblock %}

{% block site_js %}
  {% javascript 'singlecard' %}
{% endblock %}

{% block content %}
  <div class="content">
    <header>
      <div class="header-content">
        <div class="middle">
          <h1>{{ _('Select a product') }}</h1>
        </div>
      </div>
    </header>

    <div class="deck">
      <div class="card" id="picker">
        <section class="product-picker">
          {% if not products %}
            <p class="no-products">{{ _('No products available.') }}</p>
          {% else %}
            <div class="ask">
              <noscript>
                <p class="error">
                  {% trans %}
                    JavaScript is required to leave feedback. Please enable JavaScript in your browser and refresh this page.
                  {% endtrans %}
                </p>
              </noscript>

              {% trans %}
                Select a product to leave feedback for.
              {% endtrans %}
            </div>
            <div class="content">
              <ul id="product-cards" class="card-grid cf">
                {% for prod in products %}
                  <li>
                    <a class="cf" href="{{ url('feedback', product=prod.slug) }}?{{ request.GET.urlencode() }}">
                      <img class="logo-sprite" src="{{ settings.STATIC_URL }}img/{{ prod.image_file or 'blank.png' }}" alt="" />
                      <span class="title">{{ prod.display_name }}</span>
                      <span class="description">{{ prod.display_description }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </section>
      </div>
    </div>
  </div>
{% endblock %}
