{% extends "feedback/base.html" %}
{# Note: This is not l10n-ized since it's a prototype. #}

{% block page_title %}Which product?{% endblock %}

{% block site_js %}
  <script src="{{ settings.STATIC_URL }}js/lib/brick-1.0.0.byob.min.js"></script>
  {{ js('singlecard') }}
{% endblock %}

{% block site_css %}
  {{ css('product_picker') }}
{% endblock %}

{% block body %}
  <x-deck selected-index=0>
    <x-card id="picker">
      <x-appbar>
        <header>{{ _('Select A Product To Leave Feedback') }}</header>
      </x-appbar>

      <section class="product-picker">
        <ul class="content">
          {% for prod in products %}
            <a href="{{ url('feedback', product=prod.slug) }}?{{ request.GET.urlencode() }}" class="product-card {{ prod.slug }}">
              <li>
                <h3>{{ prod.display_name }}</h3>
              </li>
            </a>
          {% endfor %}
        </ul>
      </section>
    </x-card>
  </x-deck>
{% endblock %}
