{% extends "base.html" %}

{% block site_css %}
  {{ css('thanks') }}
{% endblock %}

{% block site_js %}
  {{ js('thanks') }}
{% endblock %}

{# Remove site header. #}
{% block site_header %}{% endblock %}

{% set extra_body_attrs = {'data-ga-push': '[["_trackEvent", "FeedbackFlow", "generic-thanks"]]'} %}

{% block page_title %}{{ _('Thanks') }}{% endblock %}

{% block content %}

<article id="thanks" class="visible">
  <header>
    <h1>{{ _('Thanks for Your Feedback') }}</h1>
    <p>
      <span>
        {{ _('Your feedback will be used to create a better '
             'experience in future releases of Firefox.') }}
      </span>
    </p>
  </header>

  <div class="content">
    <div id="thanks_download">
      <h3>{{ _('Shape the future of Firefox.') }}</h3>
      <p>
        {% trans download_url="http://www.mozilla.org/firefox/channel" %}
          Download
          <a href="{{ download_url }}">the build that is right for you</a>.
        {% endtrans %}
      </p>
    </div>

    <div>
      <h3>{{ _('Having problems? Get help.') }}</h3>
      <p>
        {% trans url="https://support.mozilla.org/?utm_source=input&utm_campaign=thankyou" %}
          Go to our support forum where you can <a href="{{ url }}">get help and
          find answers</a>.
        {% endtrans %}
      </p>
    <div>
      <h3>{{ _('Contribute to Mozilla.') }}</h3>
      <p>
        {% trans url='http://mozilla.org/contribute/' %}
        Learn how you can <a href="{{ url }}">make Firefox and Mozilla better</a>.
        {% endtrans %}
      </p>
    </div>

    <div>
      <h3>{{ _('Find the latest news about Firefox.') }}</h3>
      <ul>
        <li><a id="twitter" href="http://twitter.com/firefox"><span>Twitter</span></a></li>
        <li><a id="facebook" href="http://www.facebook.com/Firefox"><span>Facebook</a></span></li>
        <li><a id="planet" href="http://planet.mozilla.org/"><span>Planet Mozilla</a></span></li>
      </ul>
    </div>
  </div>
</article>

{% endblock %}
