{% extends "feedback/base.html" %}

{% block page_title %}{{ _('Unknown product') }}{% endblock %}

{% block body %}
  <x-deck>
    <x-card id="unknownproduct">
      <x-appbar>
        <header>{{ _('Unknown product') }}</header>
      </x-appbar>

      <section>
        <div class="content">
          <p>
            {% trans product=product, url='https://bugzilla.mozilla.org/enter_bug.cgi?product=Input&rep_platform=all&op_sys=all' %}
              Input doesn't know about "<em>{{ product }}</em>". If you think
              this is an error, please let us know by <a href="{{  url }}">writing
              up a bug</a>.
            {% endtrans %}
          </p>
          <p>
            {% trans url=url('feedback') %}
              If you are here by mistake and want to leave feedback, you can
              do so <a href="{{ url }}">on our feedback form</a>.
            {% endtrans %}
          </p>
        </div>
      </section>
    </x-card>
  </x-deck>
{% endblock %}
