{% extends "analytics/dashboard_base.html" %}
{# Note: This is not l10n-ized since it's only available to analyzers for now. #}

{% block body_id %}adashboard{% endblock %}

{% block content %}

<div class="col">
{% block content_leftside %}
  <div class="block">
    <h2>Analytics things:</h2>
    <p>
      <a href="{{ url('analytics_search') }}">Search</a>
    </p>
    <p>
      <a href="{{ url('analytics_hourly_histogram') }}">Hourly histogram</a>
    </p>
    <p>
      <a href="{{ url('analytics_occurrences') }}">Occurrences Comparison Report</a>
    </p>
    <p>
      <a href="{{ url('addproducts') }}">Manage Products</a>
    </p>
    <p>
      <a href="{{ url('analytics_hb') }}">HEARTBEAT</a>
    </p>
    <p>
      <a href="{{ url('analytics_duplicates') }}">Spam: Duplicates</a>
    </p>
  </div>
{% endblock %}
</div>

<div class="col doublewide">
{% block content_middle %}
  <div class="block feedback">
    <h2>Welcome Analyzer {{ displayname(user) }}!</h2>
    <p>
      This dashboard holds analysis-related reports for Analyzers.
    </p>
  </div>
{% endblock %}
</div>

{% endblock %}
