{% extends "analytics/analyzer/dashboard.html" %}
{# Note: This is not l10n-ized since it's only available to analyzers for now. #}

{% block content_middle %}
  <div class="col full">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message.tags }}: {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="block">
      <h1>Flags</h1>

      <div>
        Filter by tag:
        <a href="?">ALL</a> |
        <a href="?filter=spam">spam</a> |
        <a href="?filter=abuse">abuse</a> |
        <a href="?filter=spam-wrong">spam-wrong (false positive/negative)</a> |
        <a href="?filter=abuse-wrong">abuse-wrong (false positive/negative)</a>
      </div>

      <div class="pager">
        {% if responses.has_previous() %}
          <a class="newer" href="?page={{ responses.previous_page_number() }}">newer</a>
        {% else %}
          <span class="newer">newer</span>
        {% endif %}
        <span class="current">
          {{ responses.number }} / {{ responses.paginator.num_pages }}
        </span>
        {% if responses.has_next() %}
          <a class="older" href="?page={{ responses.next_page_number() }}">older</a>
        {% endif %}
      </div>

      <table class="flagged">
        <tr>
          <th>id</th>
          <th>description</th>
          <th>created</th>
          <th>flags</th>
          <th>actions</th>
        </tr>
        {% for resp in responses %}
          <tr>
            <td class="flagged-id">{{ resp.id }}</td>
            <td class="flagged-created">{{ resp.created }}</td>
            <td class="flagged-description">{{ resp.description }}</td>
            <td class="flagged-flags">
              {% for flag in resp.flag_set.no_cache().all() %}
                <span class="{{ flag.name }}">{{ flag.name }}</span>
              {% endfor %}
            </td>
            <td>
              <form method="POST">
                {{ csrf() }}
                <input type="hidden" name="id" value="{{ resp.id }}">
                <input type="hidden" name="flag" value="spam-wrong">
                <input type="submit" value="Spam flag is wrong">
              </form>

              <form method="POST">
                {{ csrf() }}
                <input type="hidden" name="id" value="{{ resp.id }}">
                <input type="hidden" name="flag" value="abuse-wrong">
                <input type="submit" value="Abuse flag is wrong">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>

      <div class="pager">
        {% if responses.has_previous() %}
          <a class="newer" href="?page={{ responses.previous_page_number() }}">newer</a>
        {% else %}
          <span class="newer">newer</span>
        {% endif %}
        <span class="current">
          {{ responses.number }} / {{ responses.paginator.num_pages }}
        </span>
        {% if responses.has_next() %}
          <a class="older" href="?page={{ responses.next_page_number() }}">older</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
