{% extends "analytics/analyzer/dashboard.html" %}
{# Note: This is not l10n-ized since it's only available to analyzers for now. #}

{% block content_middle %}
  <div class="col full">
    <div class="block">
      <h1>Heartbeat polls</h1>
      <p>
        Currently enabled polls:
      </p>
      <table class="hb">
        <tr>
          <th>slug</th>
          <th>description</th>
          <th>status</th>
          <th>created</th>
        </tr>
        {% for poll in hb_polls %}
          <tr>
            <td>{{ poll.slug }}</td>
            <td>{{ poll.description }}</td>
            <td>{{ poll.status }}</td>
            <td>{{ poll.created }}</td>
          </tr>
        {% endfor %}
      </table>

      <h1>Heartbeat data</h1>
      <p>
        This is the most recent 100 piece of heartbeat data.
      </p>

      <table class="hb">
        <tr>
          <th>locale</th>
          <th>platform</th>
          <th>product</th>
          <th>version</th>
          <th>channel</th>
          <th>extra</th>
          <th>poll</th>
          <th>answer</th>
          <th>created</th>
        </tr>

        {% for hb in hb_data %}
          <tr>
            <td>{{ hb.locale }}</td>
            <td>{{ hb.platform }}</td>
            <td>{{ hb.product }}</td>
            <td>{{ hb.version }}</td>
            <td>{{ hb.channel }}</td>
            <td>{{ hb.extra }}</td>
            <td>{{ hb.poll }}</td>
            <td>{{ hb.answer }}</td>
            <td>{{ hb.created }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
