{% extends "analytics/analyzer/dashboard.html" %}
{# Note: This is not l10n-ized since it's only available to analyzers for now. #}

{% block content_middle %}
  <div class="block feedback">
    {% if not update %}
      <h2>Heartbeat v2 surveys</h2>
      <p class="secret">
        Do not tweet!
      </p>
      <p>
        Note: If you need to update a survey, ask Will. At some
        point, we'll write a view that lets you edit
        surveys. Sorry about the inconvenience.
      </p>

      <h2>Total surveys: {{ surveys.paginator.count }}</h2>

      <div class="pager">
        {% if next_page %}
          <a class="older" href="{{ request.get_full_path()|urlparams(page=surveys.previous_page_number) }}">
            Older
          </a>
        {% else %}
          Older
        {% endif %}
        | Page {{ surveys.number }} of {{ surveys.paginator.num_pages }} |
        {% if prev_page %}
          <a class="newer" href="{{ request.get_full_path()|urlparams(page=surveys.next_page_number) }}">
            Newer
          </a>
        {% else %}
          Newer
        {% endif %}
      </div>

      <table class="summarytable">
        <tr>
          <th>name</th>
          <th>description</th>
          <th>enabled?</th>
          <th>created</th>
          <th></th>
        </tr>

        {% for sur in surveys %}
          <tr>
            <td><pre>{{ sur.name }}</pre></td>
            <td>{{ sur.description }}</td>
            <td>{{ sur.enabled }}</td>
            <td>{{ sur.created }}</td>
            <td><a href="{{ url('hb_surveys_update', pk=sur.pk) }}">Update</a></td>
          </tr>
        {% endfor %}
      </table>

      <div class="pager">
        {% if next_page %}
          <a class="older" href="{{ request.get_full_path()|urlparams(page=surveys.previous_page_number) }}">
            Older
          </a>
        {% else %}
          Older
        {% endif %}
        | Page {{ surveys.number }} of {{ surveys.paginator.num_pages }} |
        {% if prev_page %}
          <a class="newer" href="{{ request.get_full_path()|urlparams(page=surveys.next_page_number) }}">
            Newer
          </a>
        {% else %}
          Newer
        {% endif %}
      </div>
    {% endif %}
    <h2>{% if update %}Update{% else %}Create{% endif %} Survey</h2>
    <p><span>{% if update %}<a href="{{ url('hb_surveys') }}">&lt; Back to surveys</a>{% endif %}</span></p>
    <form class="analyzer-form" action="" method="POST">
      {{ csrf() }}
      {{ form.as_p() }}
      <input type="submit" value="Save">
    </form>
  </div>
{% endblock %}
