{% extends "analytics/analyzer/dashboard.html" %}
{# Note: This is not l10n-ized since it's only available to analyzers for now. #}

{% block content_middle %}
  <div class="col full">
    <div class="block feedback">
      <h2>Analytics: Products</h2>

      <table class="summarytable">
        <tr>
          <th>id</th>
          <th>enabled?</th>
          <th>on dashboard?</th>
          <th>display name</th>
          <th>db name</th>
          <th>slug</th>
          <th>feedback product url</th>
          <th>notes</th>
        </tr>
        {% for prod in products %}
          <tr>
            <td>{{ prod.id }}</td>
            <td>{{ prod.enabled }}</td>
            <td>{{ prod.on_dashboard }}</td>
            <td>{{ prod.display_name }}</td>
            <td>{{ prod.db_name }}</td>
            <td>{{ prod.slug }}</td>
            {# FIXME - URL is hard-coded so it doesn't include the locale. Need better way to do this. #}
            <td><a href="https://input.mozilla.org/feedback/{{ prod.slug }}">https://input.mozilla.org/feedback/{{ prod.slug }}</a></td>
            <td>{{ prod.notes }}</td>
          </tr>
        {% endfor %}
      </table>
      <p>
        Note: To add new products, edit products or deactivate
        products, ping Will. <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=965796">Bug #965796</a>
        covers adding new products, deactivating old products and
        editing products from this page. After that's implemented, you won't have
        to contact Will anymore.
      </p>
    </div>
  </div>
{% endblock %}
