PyYAML==3.11
certifi==2015.9.6.2
chardet==2.3.0
execnet==1.4.1
ndg-httpsclient==0.4.0
oauthlib==1.0.3
py==1.4.30
pyasn1==0.1.9
pyopenssl==0.15.1
pytest==2.8.2
pytest-mozwebqa==1.6
pytest-xdist==1.13.1
requests==2.8.1
rsa==3.2
selenium==2.53.1
