PyYAML==3.11
UnittestZero
certifi==14.05.14
chardet==2.2.1
execnet==1.2.0
oauthlib==0.6.1
py==1.4.20
pyasn1==0.1.7
pytest==2.2.4
pytest-mozwebqa==1.1.1
pytest-xdist==1.8
requests==2.3.0
rsa==3.1.4
selenium==2.43.0
