{% extends "admin/base_site.html" %}
{% block content_title %}
<h1>Elastic Search - Admin View</h1>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    section {
      margin: 1em 0em 1em 0em;
    }
    div#content div {
      margin-bottom: .5em;
    }
    .disabled {
      color: #ccc;
    }
    progress {
      width: 400px;
    }
    dd {
      margin-left: 1em;
    }
    input[type="submit"].DANGER {
      border: 3px red solid;
      font: bold 12px/14px serif;
    }
  </style>
{% endblock %}

{% block content %}
  <p>
    Page last rendered: {{ now }} {{ settings.TIME_ZONE }}
    {% if outstanding_records %}
      (Auto-refreshing every 30 seconds)
      <script>setTimeout("window.location.reload(true);", 30000);</script>
    {% endif %}
  </p>

  {% if error_messages %}
    <section>
      <h1>Errors</h1>
      {% for msg in error_messages %}
        <p>
          {{ msg }}
        </p>
      {% endfor %}
    </section>
  {% endif %}

  {% if outstanding_records %}
    <section>
      <h1>{{ outstanding_records|length }} Outstanding indexing tasks</h1>
      <p>
        <a href="{{ request.path }}">Refresh page</a>
      </p>
    </section>
  {% endif %}

  <section>
    <h1>Settings and details</h1>
    <p>
      Settings at the time this page was loaded:
    </p>
    <table>
      <tr><th>ES_URLS</th><td>{{ settings.ES_URLS }}</td></tr>
      <tr><th>ES_INDEX_PREFIX</th><td>{{ settings.ES_INDEX_PREFIX }}</td></tr>
      <tr><th>ES_INDEXES</th><td>{{ settings.ES_INDEXES }}</td></tr>
      <tr><th>Elasticsearch version</th><td>{{ es_deets.version.number }}</td></tr>
    </table>
  </section>

  <section>
    <h1>Index Status</h1>
    <p>
      All indexes available:
    </p>
    <table>
      <thead>
        <th>index name</th>
        <th>total documents in index</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        {% for index_name, index_count in indexes %}
          <tr>
            <td>{{ index_name }}</td><td>{{ index_count }}</td>
            <td>
              {% if index_name == index %}
                IN USE
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Index ({{ index }})</h2>
    {% if mapping_type_stats == None %}
      <p>
        Index does not exist.
      </p>
    {% else %}
      <table>
        <thead>
          <th>mapping type</th>
          <th>count</th>
        </thead>
        <tbody>
          {% for stats_name, stats_count in mapping_type_stats.items %}
            <tr><td>{{ stats_name }}</td><td>{{ stats_count }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </section>

  <section>
    <h1>Reindexing history</h1>
    <table>
      <thead>
        <tr>
          <th>batchid :: name</th>
          <th>status</th>
          <th>creation time</th>
          <th>start time</th>
          <th>end time</th>
          <th>delta</th>
          <th>message</th>
        </tr>
      </thead>
      <tbody>
        {% for record in recent_records %}
          <tr>
            <td>{{ record.batch_id }} :: {{ record.name }}</td>
            <td>{{ record.get_status_display }}</td>
            <td>{{ record.creation_time }}</td>
            <td>{{ record.start_time }}</td>
            <td>{{ record.end_time }}</td>
            <td>
              {% if record.start_time and record.end_time %}
                ({{ record.delta }})
              {% endif %}
            </td>
            <td>{{ record.message }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h1>Reindex</h1>
    {% if outstanding_records %}
      <p class="errornote">
        WARNING! There are outstanding index tasks! Don't launch another
        indexing pass unless you really know you want to.
      </p>
    {% endif %}
    <h2>Delete existing index, recreate it and index everything</h2>
    <p>
      This <strong>DELETES</strong> the existing index, recreates it
      with the mappings, and indexes into the new index.
    </p>
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="delete_index" value="1">
      <input class="DANGER" type="submit" name="reindex"
             value="DELETE index and index into {{ index }}"
             {% if outstanding_records %}disabled{% endif %}>
    </form>

    <h2>Mark outstanding records as failed</h2>
    <p>
      This marks outstanding records as fail. This allows you to run a
      new reindexing pass.
    </p>
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="reset" value="1">
      <input type="submit" name="reset"
             value="Mark records as failed">
    </form>
  </section>
{% endblock %}
