# Requirements that need to be updated first

# sha256: L6IwcnEEsH5SLe7BeSnoTgQckEfjksBVNHoCsNXKh00
setuptools==18.3.1

# Requirements from github urls because we're using non-released things

# django-mobility: no releases
# sha256: vWKlBersFicnz_K9LUwnYlm1HhXt9bgxvWKB915vfog
https://github.com/jbalogh/django-mobility/archive/e2b60a1f96e4c4aed736395c01bf707e969d8e83.tar.gz#egg=django-mobility==0.1.0.1

# jingo: something post 0.7
# sha256: 5Yt-sicAUr_gY1Y-SwW6W_mvvxyBuUe2gzPpoB-3VbQ
https://github.com/jbalogh/jingo/archive/fce09043542e71d972cc97d2ae703740741f80d0.tar.gz#egg=jingo==0.7.0.1

# django-product-details: no releases
# sha256: tLy18AIevr3_Rd7saf4cKuq_W1M3zpKFVOLBmggiCck
https://github.com/mozilla/django-product-details/archive/d168ab2e689a1b54a30a923386fe7948a74ff334.tar.gz#egg=django-product-details==0.6.0.1

# Do we use this? We have no passwords.
# django-sha2: master~1
# sha256: TBUJueJfjaBHp4GeUtY0o_IaGHk4DOUf0ZbJZ4YXPPM
https://github.com/fwenzel/django-sha2/archive/3ba2b4771056fb722bc9fe52cf26918a3f0388bb.tar.gz#egg=django-sha2

# django-session-csrf: something post-0.5
# sha256: 4buoVNpBPIKO5ziwNqu6xu46TkzWhMgNxNQeA8Mq0h0
https://github.com/mozilla/django-session-csrf/archive/f00ad913c62e139d36078e8a7e07dab65a021386.tar.gz#egg=django-session-csrf==0.5.0.1

# django-waffle: the django-jinja branch of willkg fork
# sha256: LNuiwc8Y2VXj1exySpULEZ1aUq4SvixomRyR-kjxTYE
https://github.com/willkg/django-waffle/archive/fe1a279c14c45624e491efa8bdae252e51b91b33.tar.gz#egg=django-waffle==0.10.1.1

# elasticsearch-dsl-py: something after 0.4 on the master branch
# sha256: vjS8Y8ALOYaefyPtR39argGfmTTFReNUVOUvuJcx7Zs
https://github.com/elastic/elasticsearch-dsl-py/archive/423c4f20d5f28599145712bd11ac9ce23e616f9a.tar.gz#egg=elasticsearch-dsl==0.4.0.1

# Requirements from PyPI

# sha256: 68_IZ95aaPn1uhTRHbrYjmr_hDWo05M51c6w5bBt5kA
amqp==1.4.6

# sha256: N4Ethjya0-NcBzTELgvwMgzow77YLNIK1UyzTRWBV7o
anyjson==0.3.3

# sha256: RJiN8ZESMGWvmFfspo6RUVJqkxwSZZyimQTk8R3n7Bs
Babel==2.0

# sha256: aI-UZrHDrhQQY4Hm29MoEV51xSYMVC60jmxGkx9pKMw
billiard==3.3.0.20

# sha256: FSrynUWAsRL8UpZoZEknkclR5jgrVgcOleEoxrYUgzs
bleach==1.4.1

# sha256: y0Y3TzyIPFgNFCp50mCYg3E6hnzIbgUUFjrc54TOJGg
carrot==0.10.7

# sha256: CST5QHDG_FfUCLFphIxbOIMmaP_-Bg5ItIA_sj4OPq8
celery==3.1.18

# sha256: -SRFe9iReOVl_huQNZ2QY59STn2hqZmIKSR09S3vvzQ
certifi==2015.9.6.1

# sha256: 5T44s6Sv5tETLeYrdACkrDY0Utxd_PjYjo4MzmY8aKo
chardet==2.3.0

# sha256: Z4yYJ1Qx-tMkJ13sY3keShdVi0DloRDiCoKGYTmoWlo
click==5.1

# sha256: p7AqX3bYmnn4YZJvs04CnMQ0PBOAJSXIGFQqOf54jM4
commonware==0.4.3

# sha256: BTWn4nAUh0snrjpNM-h0njRb36YnZhlSCLeZa_EQBoI
cssselect==0.9.1

# sha256: MxnZwEi7pMyJqWkRgdDgIYei8JtDQ_0vz2zL-EtO4Yo
dennis==0.6.1

# sha256: uTV9LOvmGZcFXUF9YH-cZQ6BfNGjg7mhuIvx7a15fHU
Django==1.7.10

# sha256: JL4TJtBHNh5HWbqZkqyoPtZd9Vg3UN_ovoEOscEx2HY
django-adminplus==0.3

# sha256: vYDtkF00OzZ4WioB9VkuBKdX7xUY2Q25FQ6e2uiBIDo
django-appconf==0.5

# sha256: -jPrQhcqGbcVrbp6ZJcJEftdj9G2nPjaepXyvH8PMDs
django-browserid==1.0

# sha256: F3KVsUQkAMks22fo4Y-f9ZRvtEL4WBO50IN4I3IuoI0
django-cronjobs==0.2.3

# sha256: ZfstcU_VvbmwiDKZPCyEeLJdmMKj54dpbP52KsrmRUQ
django-extensions==1.5.6

# sha256: KBZYpZ2o6Kzqe_nK0TriNgqazbM-NGzwILCUknI-h10
django-grappelli==2.6.3

# sha256: TEiNy4TP_Yi80rFlGWK3Z_m7JFIGQHyOpngEPNOdPKg
django-multidb-router==0.6

# sha256: 2ZQmvkb9kv5rZLn1xZJuqYWTlOROw--eH3xkfTomZX8
django-picklefield==0.3.1

# sha256: xxHohhXvN7I1nOMJeOrnxl5UkkrrBDIpZWxeI5Bl5ZY
django-pipeline==1.5.4

# sha256: -thF7ifqqSii7RbAEh4rtd0TzN6V0cAUTSP5pCUMGmw
django-ratelimit==0.4.0

# sha256: 1_LzcE9lU8uG-6xLw0Z9LJp_xEkYgYxyNckQAK8rqYU
django-statsd-mozilla==0.3.8.5

# sha256: YPJ9jdB0c4sT7ZJqy7C9UbTnFn05Q6BFZkVxGuIrGrQ
djangorestframework==3.1.3

# sha256: 4o-THuB1Rpz5wPzTUfeAHqCqbXiNAc2-g54qs1a4yjY
eadred==0.3

# sha256: u5PYXKflDWjkGXhSu226YJi7dyUA-C9dsv9KgHEVBck
elasticsearch==1.2.0

# sha256: zYMG5kw6EV3soTZoXpRduI_-FxOCAS7JOO0kGiDdfro
factory-boy==2.5.2

# sha256: 2Dzm3wsOpmGHAP4ds1NSY5Goo62ht6ulL-16Ydp3IDM
funcsigs==0.4

# sha256: QD1vswdD9scqnh9UG5xiOZiyI50PcALy-ZqyKn53UEo
gengo==0.1.19

# sha256: A3VLx7JWOXwbZG5QSOIpFZD1CAFxrbiwD04tc4THbu4
GitPython==0.1.7

# sha256: pucH2csXyL8eVTcTrRSzEnSoHVwM4PziGwKTbQ79fbs
html5lib==0.95

# sha256: fLtRSjUvghxpuOi9qmsuWXKFR6iWVQPHWGUsKCbRV7U
importlib==1.0.3

# sha256: H1ZavUTEt9-qTdVD1S-YLS8AaroKKzgwVCtNJagB_gk
kombu==3.0.26

# sha256: uDndLZwRfHAUMMFJlWkYpCOphjtIsJyQ4wpgE-fS9E8
mock==1.0.1

# sha256: HDW0rCBs7y0kgWyJ-Jzyid09OM98RJuz-re_bUPwGx8
ordereddict==1.1

# sha256: Tq7o_1VEcD7dGVHtHcCyg9qZp090DZ-QVe7vzzKd4dE
pbr==1.6.0

# sha256: Q85g0F_6RCup08VyIZOq25PDgXS5-0ccjqfMv4NJu8o
polib==1.0.7

# sha256: RsUeuHi3h-gU7o-XN7CmIREDSutNHAZFCsWo6lpw5gI
pyquery==1.2.9

# sha256: bxlzSLRvuM358_z8Kn1al9qV2z4uhmfPZXIWJ0_hsAk
python-dateutil==1.5

# sha256: ZrvGLZUZ-dUxsfd-aH2fL15SHLkG8f1yMfQDmX4BEMQ
python-memcached==1.48

# sha256: p4tITVRy3Yxoj4s-7hhkaiXGbORbLCZlKFD2r5zlKxc
pytz==2015.4

# sha256: OYo9ttYYmdJf1KBsbKEgUbDOFx1wXezX7VURUXtLuT0
requests==2.7.0

# sha256: ofEO5T_vaqxspUz7j9sbfKbaWdaOoajCGsUTIRhCrT4
requests-mock==0.6.0

# sha256: 4kBSQR_E-9H2cmNVN8P8IzDZSBsYwDF2lbRiWVEskdU
six==1.9.0

# sha256: HhLNQXx94_wcl9EUouRNXDA8OuXMnS_YihiktArLd5o
statsd==2.0.3

# sha256: fBfxgT4FanY_8qG5AI3R29jfjI4Z17TfZmgOMXzLPr8
tldextract==1.7.1

# sha256: 3Lv0kFjkGWoG6YjZ3B52IyGrDQV8S-A1uE48ETU_wvg
translate-toolkit==1.13.0

# sha256: Gon6G0PSd8-t8ijMkLnHXyVIGOo6Gqt7_7AiPLt7sV0
urllib3==1.8
